workflows.json
[{"updatedAt":"2026-04-05T11:14:48.391Z","createdAt":"2026-04-04T20:52:52.959Z","id":"HDNwqynf32McNdYP","name":"Jira Naming Audit v2","description":"Аудит названий Jira-тикетов: очистка input → structured JSON → HTML-рендер с цветным вердиктом.","active":false,"isArchived":true,"nodes":[{"id":"359f4953-ceca-4452-bef8-80b50436351e","name":"Ввод ключа тикета","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[240,300],"parameters":{"formTitle":"Аудит названия Jira-тикета","formDescription":"Введите ключ тикета (например, CREDITS-8964), и ИИ предложит улучшенное название по канонам нейминга.","formFields":{"values":[{"fieldLabel":"Ключ тикета","fieldName":"issueKey","fieldType":"text","placeholder":"CREDITS-8964","requiredField":true}]},"responseMode":"lastNode"},"webhookId":"dbd1e6f4-62fc-4df2-a63f-a0efd52709fb"},{"id":"dcf868d1-377f-44be-a617-c495381caa4f","name":"Загрузить тикет","type":"n8n-nodes-base.jira","typeVersion":1,"position":[460,300],"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"={{ $json.issueKey }}","simplifyOutput":true,"additionalFields":{"fields":"summary,description,comment,issuetype,labels"}},"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"id":"6180b6dc-1fc3-4504-8d7a-65376f4601f7","name":"Очистить input для LLM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"parameters":{"mode":"raw","jsonOutput":"={{ {\n  \"key\": $json.key,\n  \"summary\": $json.fields?.summary ?? $json.summary ?? \"\",\n  \"issueType\": $json.fields?.issuetype?.name ?? $json.issueType ?? \"\",\n  \"description\": ($json.fields?.description ?? $json.description ?? \"\").substring(0, 600),\n  \"labels\": $json.fields?.labels ?? $json.labels ?? []\n} }}"}},{"id":"610a662c-59ea-4c85-b43a-09c849cdeef3","name":"Анализ названия","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[900,300],"parameters":{"promptType":"define","text":"=Проанализируй Jira-тикет и предложи улучшенное название.\n\nДанные тикета:\nКлюч: {{ $json.key }}\nТип: {{ $json.issueType }}\nТекущее название: {{ $json.summary }}\nЛейблы: {{ $json.labels }}\nОписание (первые 600 символов): {{ $json.description }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"Ты — эксперт по нейминг-конвенциям Jira-тикетов. Отвечай СТРОГО в формате JSON по заданной схеме.\n\n## Правила формулирования Summary по типам:\n- User Story → <Персона> <действие> <объект> (от лица пользователя, глагол обязателен)\n- Bug / Ошибка → <Что> не <ожидаемое поведение> (описывает дефект, не решение)\n- Task / Задача → <Глагол> <объект> (начинается с инфинитива: добавить, реализовать, перевести)\n- Техдолг → <Глагол> <объект> (как Task, но с техническим контекстом)\n\n## Принципы:\n- Название понятно без открытия описания\n- Нет отглагольных существительных вместо глаголов (\"Обновление\" → \"Обновить\")\n- Нет метаданных в названии ([QC], [FIX])\n- Для багов: описание проблемы, а не решения\n- Конкретика вместо абстракций (\"в определённом статусе\" → назвать статус)\n- До 100 символов идеально\n\n## Вердикт:\n- \"ОК\" — название уже хорошее. В proposedTitle повтори текущее.\n- \"Доработать\" — структура верная, но нужны уточнения\n- \"Переписать\" — название не соответствует канонам\n\n## Примеры (few-shot):\n\nПример 1:\nТип: Задача | Было: \"Флаг добавления партнера на разводящую\"\nДиагноз: Нет глагола. Номинализация. Жаргон.\nСтало: \"Добавить флаг for_loans_page в метод list для размещения партнерской карточки на странице Кредиты и займы\"\nВердикт: Переписать\n\nПример 2:\nТип: Ошибка | Было: \"Отображается неверный экран заявки, когда она находится в определенном статусе\"\nДиагноз: Слишком расплывчато.\nСтало: \"Свободная заявка на этапе выдачи (SIGNED_*) отображает экран рассмотрения вместо Деньги скоро придут\"\nВердикт: Доработать\n\nПример 3:\nТип: Техдолг | Было: \"Реализовать синхронную доставку статуса заявки от expresscredit в credit-main\"\nДиагноз: Отличное название. Глагол + объект + оба сервиса.\nСтало: \"Реализовать синхронную доставку статуса заявки от expresscredit в credit-main\"\nВердикт: ОК\n\nПример 4:\nТип: Техдолг | Было: \"Падают запросы кредитору\"\nДиагноз: Расплывчато. Нет сервиса, причины.\nСтало: \"Вынести запросы к кредитору из транзакции (transactional outbox) для устранения SQL-таймаутов\"\nВердикт: Переписать"}]}}},{"id":"faeb298d-b92c-4455-9426-181f7e4cf64c","name":"Grok 4.1 Fast","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[840,540],"parameters":{"model":"x-ai/grok-4.1-fast","options":{"temperature":0.2,"maxTokens":1024}},"credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"id":"3a76da76-0800-4147-8bf2-8b6aee5f66b8","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1020,540],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\n  \"key\": \"CREDITS-8964\",\n  \"issueType\": \"Задача\",\n  \"formula\": \"<Глагол> <объект>\",\n  \"currentTitle\": \"Флаг добавления партнера на разводящую\",\n  \"diagnosis\": \"Нет глагола. Номинализация. Жаргон без контекста.\",\n  \"proposedTitle\": \"Добавить флаг for_loans_page для размещения партнерской карточки на странице Кредиты и займы\",\n  \"verdict\": \"Переписать\"\n}"}},{"id":"2fd0e0ad-1167-4f9d-bc46-5bbd1c3c1070","name":"Результат аудита","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1160,300],"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"font-family:system-ui,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><h2 style=\"margin-bottom:4px\">Аудит: {{ $json.output.key }}</h2><table style=\"width:100%;border-collapse:collapse;font-size:14px\"><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;width:140px\">Тип</td><td style=\"padding:8px 0\">{{ $json.output.issueType }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Формула</td><td style=\"padding:8px 0;border-top:1px solid #eee\"><code>{{ $json.output.formula }}</code></td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Текущее</td><td style=\"padding:8px 0;border-top:1px solid #eee;text-decoration:line-through;color:#999\">{{ $json.output.currentTitle }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Диагноз</td><td style=\"padding:8px 0;border-top:1px solid #eee;color:#b45309\">{{ $json.output.diagnosis }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Предложение</td><td style=\"padding:8px 0;border-top:1px solid #eee;font-weight:600\">{{ $json.output.proposedTitle }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Вердикт</td><td style=\"padding:8px 0;border-top:1px solid #eee\"><span style=\"padding:2px 10px;border-radius:6px;font-size:12px;font-weight:500;background:{{ $json.output.verdict === \"ОК\" ? \"#dcfce7\" : $json.output.verdict === \"Доработать\" ? \"#fef9c3\" : \"#fee2e2\" }};color:{{ $json.output.verdict === \"ОК\" ? \"#166534\" : $json.output.verdict === \"Доработать\" ? \"#854d0e\" : \"#991b1b\" }}\">{{ $json.output.verdict }}</span></td></tr></table></div>"},"webhookId":"7a7e0d56-00ef-4f56-9c84-f72d7546f73b"}],"connections":{"Ввод ключа тикета":{"main":[[{"node":"Загрузить тикет","type":"main","index":0}]]},"Загрузить тикет":{"main":[[{"node":"Очистить input для LLM","type":"main","index":0}]]},"Очистить input для LLM":{"main":[[{"node":"Анализ названия","type":"main","index":0}]]},"Анализ названия":{"main":[[{"node":"Результат аудита","type":"main","index":0}]]},"Grok 4.1 Fast":{"ai_languageModel":[[{"node":"Анализ названия","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Анализ названия","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"83bd0ff8-790a-4d23-a4a3-9d6c4cf2a5bb","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T20:52:52.959Z","createdAt":"2026-04-04T20:52:52.959Z","role":"workflow:owner","workflowId":"HDNwqynf32McNdYP","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-03T06:40:03.332Z","createdAt":"2026-03-29T07:51:55.599Z","id":"JBGvfNxf-NWzgN3cdHiRW","name":"Jira MCP","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"jira-mcp"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[64,224],"id":"dd84f432-f440-4ad9-9f3f-d2b78fbc02a8","name":"MCP Server Trigger","webhookId":"165a1eb0-72a0-4c6e-b42e-5f06fc39d38e"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","simplifyOutput":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","additionalFields":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[0,448],"id":"06915d70-5b68-4b15-a86c-fd56b0285dc6","name":"Get an issue in Jira Software","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"jiraVersion":"serverPat","resource":"issueAttachment","operation":"getAll","issueKey":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}","returnAll":true,"download":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Download', ``, 'boolean') }}"},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[128,448],"id":"df3d627f-df83-425b-a322-85c3fa365652","name":"Get many issue attachments in Jira Software","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"path":"8a56bacd-40bf-4764-8bdb-ef84b85eaeb6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"7de92742-c216-436f-a0aa-4cfdd56980b2","name":"Webhook","webhookId":"8a56bacd-40bf-4764-8bdb-ef84b85eaeb6"},{"parameters":{"toolDescription":"Create an issue in Jira Software. \nParameters:\n- Summary (string): issue title\n- Description (string): issue body in Jira Wiki Markup\n- Issue_Type (string): numeric ID (3=Task, 7=User Story, 12=Bug, 10401=Tech Debt)","method":"POST","url":"https://jira.tochka.com/rest/api/2/issue","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareServerPatApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"project\": { \"key\": \"CREDITS\" },\n    \"summary\": \"{{ $fromAI('Summary', '', 'string') }}\",\n    \"description\": \"{{ $fromAI('Description', '', 'string') }}\",\n    \"issuetype\": { \"id\": \"{{ $fromAI('Issue_Type', '', 'string') }}\" },\n    \"labels\": [\"Партнерские_Интеграции\"]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[256,448],"id":"0ab37219-28ec-49a2-b1af-2e88ad6a42fc","name":"Create Jira Issue","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}}],"connections":{"Get an issue in Jira Software":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Get many issue attachments in Jira Software":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Create Jira Issue":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"391d9b53-66ad-4ece-b7e5-d3614a941919","activeVersionId":"391d9b53-66ad-4ece-b7e5-d3614a941919","versionCounter":68,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-29T07:51:55.599Z","createdAt":"2026-03-29T07:51:55.599Z","role":"workflow:owner","workflowId":"JBGvfNxf-NWzgN3cdHiRW","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":"Version 391d9b53","description":""}},{"updatedAt":"2026-04-04T07:43:08.270Z","createdAt":"2026-02-11T07:22:53.317Z","id":"gidUqYFOmto_w2_QSlhBf","name":"Backlog Sync","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"53264dcf-eba5-4fcb-8f3f-0f0f759f5a87","name":"When clicking ‘Execute workflow’"},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","returnAll":true,"options":{"fields":"issuetype,summary,status,labels,assignee,creator,created,issuelinks","jql":"project = CREDITS AND labels in (\"Партнерские_Интеграции\")"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[208,0],"id":"352cb81e-5a04-433b-8699-ab5148ec487c","name":"Get many issues","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA","mode":"list","cachedResultName":"Tochka Backlog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1417511869,"mode":"list","cachedResultName":"Master_Table","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit#gid=1417511869"},"columns":{"mappingMode":"defineBelow","value":{"System ID":"={{ $json.id }}","Jira Key":"={{ $json.key }}","Тип":"={{ $json.fields.issuetype.name }}","Автор":"={{ $json.fields.creator.displayName }}","Исполнитель":"={{ $json.fields.assignee.displayName }}","Метки":"={{ $json.fields.labels.join(\", \") }}","Статус":"={{ $json.fields.status.name }}","Описание":"={{ $json.fields.summary }}","Дата создания":"={{ $json.fields.created }}"},"matchingColumns":["System ID"],"schema":[{"id":"System ID","displayName":"System ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Jira Key","displayName":"Jira Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Вердикт","displayName":"Вердикт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Новое название","displayName":"Новое название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Драйвер","displayName":"Драйвер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Комментарий","displayName":"Комментарий","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reach","displayName":"Reach","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Impact","displayName":"Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Effort","displayName":"Effort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"🏆 RICE Score","displayName":"🏆 RICE Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dev SP","displayName":"Dev SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QA SP","displayName":"QA SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Target Sprint","displayName":"Target Sprint","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Автор","displayName":"Автор","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Исполнитель","displayName":"Исполнитель","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Метки","displayName":"Метки","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Дата создания","displayName":"Дата создания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Прошло дней","displayName":"Прошло дней","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"[SYNC]","displayName":"[SYNC]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":6,"firstDataRow":7}},"useAppend":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[640,0],"id":"5a2df5b3-0469-4575-915a-1a51fa6c2aea","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lZvygH7T6o8Vslei","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"933b8c6a-b4cd-4b2f-a200-599feb7a25b1","name":"fields.created","value":"={{ $json.fields.created.toDateTime().format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"76a6e5ce-342f-4466-8669-af8b9bffb39b","name":"","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"56a547da-b791-48c2-9aa0-3fa31a7a8306","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many issues","type":"main","index":0}]]},"Get many issues":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"036fccc9-5f8e-4ad6-b9ce-08807b1e7b7c","activeVersionId":null,"versionCounter":180,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-11T07:22:53.317Z","createdAt":"2026-02-11T07:22:53.317Z","role":"workflow:owner","workflowId":"gidUqYFOmto_w2_QSlhBf","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-05T11:14:46.256Z","createdAt":"2026-04-04T20:53:51.514Z","id":"fcqwUydwgl2aOT6M","name":"Jira Naming Audit v2","description":"Аудит названий Jira-тикетов: очистка input, structured JSON output, HTML-рендер с цветным вердиктом.","active":false,"isArchived":true,"nodes":[{"id":"359f4953-ceca-4452-bef8-80b50436351e","name":"Ввод ключа тикета","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[240,300],"parameters":{"formTitle":"Аудит названия Jira-тикета","formDescription":"Введите ключ тикета (например, CREDITS-8964), и ИИ предложит улучшенное название по канонам нейминга.","formFields":{"values":[{"fieldLabel":"Ключ тикета","fieldName":"issueKey","fieldType":"text","placeholder":"CREDITS-8964","requiredField":true}]},"responseMode":"lastNode"},"webhookId":"a95027af-6b3d-438d-ba13-535fd31f093d"},{"id":"3fe0ea84-bb2b-4501-802e-5a8f5579a3f8","name":"Загрузить тикет из Jira","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[460,300],"parameters":{"method":"POST","url":"https://n8n.mindhackerdev.ru/mcp/jira-mcp","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { \"jsonrpc\": \"2.0\", \"method\": \"tools/call\", \"params\": { \"name\": \"Get_an_issue_in_Jira_Software\", \"arguments\": { \"Issue_Key\": $json.issueKey, \"Simplify\": true } }, \"id\": 1 } }}"}},{"id":"6180b6dc-1fc3-4504-8d7a-65376f4601f7","name":"Очистить input для LLM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"parameters":{"mode":"raw","jsonOutput":"={{ (() => {\n  const raw = $json.result?.content?.[0]?.text ?? \"{}\";\n  const d = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n  const arr = Array.isArray(d) ? d[0] : d;\n  return {\n    key: arr.key ?? \"\",\n    summary: arr[\"Тема\"] ?? arr.summary ?? \"\",\n    issueType: arr[\"Тип задачи\"]?.name ?? \"\",\n    description: (arr[\"Описание\"] ?? arr.description ?? \"\").substring(0, 600),\n    labels: arr[\"Метки\"] ?? []\n  };\n})() }}"}},{"id":"610a662c-59ea-4c85-b43a-09c849cdeef3","name":"Анализ названия","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[900,300],"parameters":{"promptType":"define","text":"=Проанализируй Jira-тикет и предложи улучшенное название.\n\nДанные тикета:\nКлюч: {{ $json.key }}\nТип: {{ $json.issueType }}\nТекущее название: {{ $json.summary }}\nЛейблы: {{ $json.labels }}\nОписание (первые 600 символов): {{ $json.description }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"Ты — эксперт по нейминг-конвенциям Jira-тикетов. Отвечай СТРОГО в формате JSON по заданной схеме.\n\n## Правила формулирования Summary по типам:\n- User Story: <Персона> <действие> <объект> (глагол обязателен)\n- Bug / Ошибка: <Что> не <ожидаемое поведение> (описывает дефект, не решение)\n- Task / Задача: <Глагол> <объект> (инфинитив: добавить, реализовать, перевести)\n- Техдолг: <Глагол> <объект> (как Task, но с техническим контекстом)\n\n## Принципы:\n- Понятно без открытия описания\n- Нет отглагольных существительных (\"Обновление\" -> \"Обновить\")\n- Нет метаданных в названии ([QC], [FIX])\n- Для багов: проблема, а не решение\n- Конкретика (\"в определённом статусе\" -> назвать статус)\n- До 100 символов\n\n## Вердикт:\n- \"ОК\" — хорошее, proposedTitle = currentTitle\n- \"Доработать\" — структура верная, нужны уточнения\n- \"Переписать\" — не соответствует канонам\n\n## Примеры:\n\n1. Задача | \"Флаг добавления партнера на разводящую\" -> \"Добавить флаг for_loans_page для размещения партнерской карточки\" | Переписать\n\n2. Ошибка | \"Отображается неверный экран заявки, когда она находится в определенном статусе\" -> \"Свободная заявка на этапе выдачи (SIGNED_*) отображает экран рассмотрения\" | Доработать\n\n3. Техдолг | \"Реализовать синхронную доставку статуса заявки от expresscredit в credit-main\" -> то же | ОК\n\n4. Техдолг | \"Падают запросы кредитору\" -> \"Вынести запросы к кредитору из транзакции (transactional outbox) для устранения SQL-таймаутов\" | Переписать"}]}}},{"id":"faeb298d-b92c-4455-9426-181f7e4cf64c","name":"Grok 4.1 Fast","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[840,540],"parameters":{"model":"x-ai/grok-4.1-fast","options":{"temperature":0.2,"maxTokens":1024}},"credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"id":"3a76da76-0800-4147-8bf2-8b6aee5f66b8","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1020,540],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{ \"key\": \"CREDITS-8964\", \"issueType\": \"Задача\", \"formula\": \"<Глагол> <объект>\", \"currentTitle\": \"Флаг добавления партнера на разводящую\", \"diagnosis\": \"Нет глагола. Номинализация.\", \"proposedTitle\": \"Добавить флаг for_loans_page в метод list\", \"verdict\": \"Переписать\" }"}},{"id":"2fd0e0ad-1167-4f9d-bc46-5bbd1c3c1070","name":"Результат аудита","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1160,300],"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"font-family:system-ui,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><h2 style=\"margin-bottom:4px\">{{ $json.output.key }}</h2><table style=\"width:100%;border-collapse:collapse;font-size:14px\"><tr><td style=\"padding:8px 0;color:#888;width:130px\">Тип</td><td style=\"padding:8px 0\">{{ $json.output.issueType }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"padding:8px 0;color:#888\">Формула</td><td style=\"padding:8px 0\"><code>{{ $json.output.formula }}</code></td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"padding:8px 0;color:#888\">Текущее</td><td style=\"padding:8px 0;text-decoration:line-through;color:#999\">{{ $json.output.currentTitle }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"padding:8px 0;color:#888\">Диагноз</td><td style=\"padding:8px 0;color:#b45309\">{{ $json.output.diagnosis }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"padding:8px 0;color:#888\">Предложение</td><td style=\"padding:8px 0;font-weight:600\">{{ $json.output.proposedTitle }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"padding:8px 0;color:#888\">Вердикт</td><td style=\"padding:8px 0\"><span style=\"padding:2px 10px;border-radius:6px;font-size:12px;font-weight:500;background:{{ $json.output.verdict === \"ОК\" ? \"#dcfce7\" : $json.output.verdict === \"Доработать\" ? \"#fef9c3\" : \"#fee2e2\" }};color:{{ $json.output.verdict === \"ОК\" ? \"#166534\" : $json.output.verdict === \"Доработать\" ? \"#854d0e\" : \"#991b1b\" }}\">{{ $json.output.verdict }}</span></td></tr></table></div>"},"webhookId":"c7729852-bc96-4b84-af67-4da6eebfe9fa"}],"connections":{"Ввод ключа тикета":{"main":[[{"node":"Загрузить тикет из Jira","type":"main","index":0}]]},"Загрузить тикет из Jira":{"main":[[{"node":"Очистить input для LLM","type":"main","index":0}]]},"Очистить input для LLM":{"main":[[{"node":"Анализ названия","type":"main","index":0}]]},"Анализ названия":{"main":[[{"node":"Результат аудита","type":"main","index":0}]]},"Grok 4.1 Fast":{"ai_languageModel":[[{"node":"Анализ названия","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Анализ названия","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"7e550a46-8ca1-4ffb-a3ff-c242becf8bb3","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T20:53:51.514Z","createdAt":"2026-04-04T20:53:51.514Z","role":"workflow:owner","workflowId":"fcqwUydwgl2aOT6M","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-02-18T08:22:40.686Z","createdAt":"2026-02-13T06:46:35.440Z","id":"RoI7zR0KOHo-N9DLi4ps8","name":"Update [SYNC] Jira Issues","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,32],"id":"7a034584-0747-4fa1-a1d9-e3b3b17561f9","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA","mode":"list","cachedResultName":"Tochka Backlog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1417511869,"mode":"list","cachedResultName":"Master_Table","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit#gid=1417511869"},"filtersUI":{"values":[{"lookupColumn":"=[SYNC]","lookupValue":"true"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A6:AA"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,32],"id":"b8f149b9-8188-4433-9038-182b5e037aa1","name":"Get rows with [SYNC] checkbox","credentials":{"googleSheetsOAuth2Api":{"id":"lZvygH7T6o8Vslei","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ad349d33-4a31-45ef-9fb7-2d098c3e5129","leftValue":"={{ $json.updateFields }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,32],"id":"b569a6e9-fd1b-489d-afb9-139ba4dfa6b4","name":"If"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"={{ $json[\"Jira Key\"] }}","additionalFields":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[448,32],"id":"a3bc0a21-bc97-4113-a906-2efb0401d1d0","name":"GetJiraState","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"jsCode":"// Настройка: Имя ноды, откуда пришли данные Google Sheets\nconst sheetNodeName = 'Get rows with [SYNC] checkbox'; \n\n// Получаем данные из предыдущих шагов\nconst sheetItems = $items(sheetNodeName); // Все строки из таблицы\nconst jiraItems = items; // Текущие входящие данные (задачи из Jira)\n\nconst results = [];\n\nfor (const jiraItem of jiraItems) {\n    const jiraData = jiraItem.json;\n    const key = jiraData.key;\n\n    // 1. Находим соответствующую строку в данных из Гугл Таблицы по ключу\n    const sheetItem = sheetItems.find(i => i.json['Jira Key'] === key);\n    \n    // Если строки нет в таблице (странно, но бывает), пропускаем\n    if (!sheetItem) continue;\n\n    const sheetData = sheetItem.json;\n    const updates = {};\n    let hasChanges = false;\n\n    // --- ПРОВЕРКА 1: НАЗВАНИЕ (Summary) ---\n    // Берем новое название, только если оно заполнено в таблице\n    const newSummary = sheetData['Новое название'] ? sheetData['Новое название'].toString().trim() : '';\n    const currentSummary = jiraData.fields.summary;\n\n    if (newSummary !== '' && newSummary !== currentSummary) {\n        updates.summary = newSummary;\n        hasChanges = true;\n    }\n\n    // --- ПРОВЕРКА 2: МЕТКИ (Labels) ---\n    // В таблице: строка \"Метка1, Метка2\". В Jira: массив [\"Метка1\", \"Метка2\"]\n    \n    // Парсим метки из таблицы\n    let sheetLabels = [];\n    if (sheetData['Метки']) {\n        sheetLabels = sheetData['Метки'].toString().split(',').map(l => l.trim()).filter(l => l !== '');\n    }\n    \n    // Получаем метки из Jira (если их нет, берем пустой массив)\n    const jiraLabels = jiraData.fields.labels || [];\n\n    // Сортируем для корректного сравнения (чтобы [\"A\", \"B\"] было равно [\"B\", \"A\"])\n    sheetLabels.sort();\n    jiraLabels.sort();\n\n    // Сравниваем как строки JSON\n    if (JSON.stringify(sheetLabels) !== JSON.stringify(jiraLabels)) {\n        updates.labels = sheetLabels; // Jira примет массив строк\n        hasChanges = true;\n    }\n\n    // --- ПРОВЕРКА 3: ПРИОРИТЕТ (Priority) ---\n    // Проверяем, есть ли колонка \"Приоритет\" или \"Priority\" в таблице\n    // В твоем JSON я не вижу колонку \"Приоритет\", но если ты её добавишь:\n    const sheetPriority = sheetData['Приоритет'] || sheetData['Priority']; \n    \n    if (sheetPriority) {\n        const currentPriorityName = jiraData.fields.priority ? jiraData.fields.priority.name : '';\n        \n        // Сравниваем названия (например \"High\" vs \"High\")\n        if (sheetPriority !== currentPriorityName) {\n            updates.priority = { \"name\": sheetPriority };\n            hasChanges = true;\n        }\n    }\n\n    // --- ФИНАЛ: ЕСЛИ ЕСТЬ ИЗМЕНЕНИЯ ---\n    if (hasChanges) {\n        results.push({\n            json: {\n                key: key,           // Ключ задачи для обновления\n                updateFields: updates, // Объект с изменениями для Jira\n                systemId: sheetData['System ID'] // ID строки для снятия галочки\n            }\n        });\n    } else {\n        // Если изменений нет, но галочка стояла - нам все равно надо её снять,\n        // чтобы не обрабатывать эту строку вечно.\n        // Передаем пустой updateFields, чтобы Jira Node его пропустила, но Sheet Node сработала.\n        results.push({\n            json: {\n                key: key,\n                updateFields: null, // Флаг \"не обновлять Jira\"\n                systemId: sheetData['System ID']\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,32],"id":"d03a7fe9-fc71-495d-a2be-d72fdedf886a","name":"Code in JavaScript"},{"parameters":{"method":"PUT","url":"=https://jira.tochka.com/rest/api/2/issue/{{ $json.key }}","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareServerPatApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"fields\": $json.updateFields } }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,-64],"id":"73d4ef14-33c8-4b03-8447-806c0817d45d","name":"HTTP Request","alwaysOutputData":true,"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,-88],"id":"54343fec-4bc2-4f3b-bb39-3498bc7eac86","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1568,-40],"id":"46ff097f-d726-482f-aac0-163b6b6fd57c","name":"Wait","webhookId":"66fec858-1aff-411d-a533-1ee4bc828215"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,-256],"id":"c7ee56e0-a109-4eb4-90b0-19aa0f536091","name":"Wait1","webhookId":"a876c8d4-7c43-47e4-9657-0cc8e0db043a"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA","mode":"list","cachedResultName":"Tochka Backlog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1417511869,"mode":"list","cachedResultName":"Master_Table","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit#gid=1417511869"},"columns":{"mappingMode":"defineBelow","value":{"Jira Key":"={{ $json.key }}","[SYNC]":"FALSE"},"matchingColumns":["Jira Key"],"schema":[{"id":"System ID","displayName":"System ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Jira Key","displayName":"Jira Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Вердикт","displayName":"Вердикт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Новое название","displayName":"Новое название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Драйвер","displayName":"Драйвер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Комментарий","displayName":"Комментарий","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reach","displayName":"Reach","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Impact","displayName":"Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Effort","displayName":"Effort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"🏆 RICE Score","displayName":"🏆 RICE Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dev SP","displayName":"Dev SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QA SP","displayName":"QA SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Target Sprint","displayName":"Target Sprint","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Автор","displayName":"Автор","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Исполнитель","displayName":"Исполнитель","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Метки","displayName":"Метки","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Дата создания","displayName":"Дата создания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Прошло дней","displayName":"Прошло дней","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"[SYNC]","displayName":"[SYNC]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":6,"firstDataRow":7}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,176],"id":"18304c52-f280-48b7-96a1-d8fee93a7fd3","name":"Uncheck [SYNC]","credentials":{"googleSheetsOAuth2Api":{"id":"lZvygH7T6o8Vslei","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA","mode":"list","cachedResultName":"Tochka Backlog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1417511869,"mode":"list","cachedResultName":"Master_Table","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AukwR6jsLKcPb8v0_1ybl9CGox55vm96GYNC3YGt0gA/edit#gid=1417511869"},"columns":{"mappingMode":"defineBelow","value":{"Jira Key":"={{ $json.key }}","[SYNC]":"FALSE"},"matchingColumns":["Jira Key"],"schema":[{"id":"System ID","displayName":"System ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Jira Key","displayName":"Jira Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка","displayName":"Ссылка","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Тип","displayName":"Тип","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Описание","displayName":"Описание","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Статус","displayName":"Статус","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Вердикт","displayName":"Вердикт","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Новое название","displayName":"Новое название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Драйвер","displayName":"Драйвер","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Комментарий","displayName":"Комментарий","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reach","displayName":"Reach","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Impact","displayName":"Impact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Effort","displayName":"Effort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"🏆 RICE Score","displayName":"🏆 RICE Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Dev SP","displayName":"Dev SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QA SP","displayName":"QA SP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Target Sprint","displayName":"Target Sprint","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Автор","displayName":"Автор","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Исполнитель","displayName":"Исполнитель","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Метки","displayName":"Метки","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Дата создания","displayName":"Дата создания","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Прошло дней","displayName":"Прошло дней","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"[SYNC]","displayName":"[SYNC]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"headerRow":6,"firstDataRow":7}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,-256],"id":"51e8feeb-74c2-4715-8f14-436d52c5bf8a","name":"Uncheck [SYNC]1","credentials":{"googleSheetsOAuth2Api":{"id":"lZvygH7T6o8Vslei","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get rows with [SYNC] checkbox","type":"main","index":0}]]},"Get rows with [SYNC] checkbox":{"main":[[{"node":"GetJiraState","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Uncheck [SYNC]","type":"main","index":0}]]},"GetJiraState":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Uncheck [SYNC]1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4fcbb752-3d53-4411-a3de-b2c3c2d02ca8","activeVersionId":null,"versionCounter":135,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-13T06:46:35.440Z","createdAt":"2026-02-13T06:46:35.440Z","role":"workflow:owner","workflowId":"RoI7zR0KOHo-N9DLi4ps8","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-27T06:31:50.821Z","createdAt":"2026-03-24T12:46:51.593Z","id":"E3WbqkqW2UJyj0ArCdNNC","name":"Create Task From MM","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"create-bug-from-connect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,104],"id":"ab01c035-c51f-4ba4-a416-c3ac55d534f4","name":"Webhook","webhookId":"96352535-5fe8-4852-b582-0674da8f9487"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json.body) }}","needsFallback":true,"messages":{"messageValues":[{"message":"Ты — опытный системный аналитик и проектный менеджер уровня Senior. Твоя задача — \nанализировать сырые логи обсуждений из корпоративного мессенджера и превращать их \nв идеально структурированные задачи для Jira.\n\nНа вход ты получишь JSON, содержащий ссылку на тред (`url`) и массив сообщений \n(`messages`), где у каждого сообщения есть `author`, `time` и `text`.\n\nТвои правила работы:\n\n1. *Выдели главное:* Проанализируй весь диалог и пойми корневую проблему или \n   потребность. Если тема треда неоднозначна — сфокусируйся на самом первом \n   явно сформулированном запросе.\n\n2. *Удали шум:* Игнорируй приветствия, шутки, эмоции, стикеры и оффтоп. \n   Оставь только сухую выжимку. Если фраза несёт контекст — оставь её, \n   даже если она написана неформально.\n\n3. *Сохрани артефакты:* Аккуратно перенеси все технические данные: ID клиентов, \n   ИНН, номера заявок, фрагменты логов, названия методов, ссылки, переменные \n   окружения. Не интерпретируй их — переноси дословно.\n\n4. *Определи тип тикета:*\n   - `Ошибка` — что-то работает не так, как ожидается (сбой, регрессия, \n     неверный результат).\n   - `Задача` — новый функционал, изменение поведения или разовое действие \n     по запросу.\n   - `Техдолг` — улучшение существующего кода, архитектуры или инфраструктуры \n     без добавления нового функционала для конечного пользователя (рефакторинг, \n     обновление зависимостей, покрытие тестами).\n\n5. *Форматирование (КРИТИЧНО):* Используй СТРОГО синтаксис Atlassian Jira Wiki \n   Markup. Никакого стандартного Markdown!\n   - Жирный текст: *текст* (одна звездочка с обеих сторон)\n   - Курсив: _текст_\n   - Маркированный список: начинай строку со звёздочки и пробела (* элемент). \n     Никаких дефисов — они не рендерятся как список в Jira.\n   - Вложенный список: ** элемент (две звёздочки)\n   - Блоки кода или длинные логи: ОБЯЗАТЕЛЬНО оборачивай в {code}...{code} \n     (не используй обратные кавычки ```)\n   - Ссылки: [Текст ссылки|https://example.com] — без вложенного Markdown!\n   - Разделительная линия: ---- (четыре дефиса)\n\n6. *Язык:* Весь тикет — строго на русском языке, вне зависимости от языка \n   оригинального треда.\n\n7. *Если данных не хватает:* Если какой-то раздел невозможно заполнить на \n   основе треда — пиши явно: `Не указано`. Не додумывай и не заполняй \n   предположениями.\n\n8. *Формат вывода:* Твой ответ должен быть СТРОГО валидным JSON-объектом, \n   без Markdown-оберток (без ```json), без вводных слов. Только голый JSON. \n   Обязательно экранируй внутренние двойные кавычки как \\\" и переносы строк \n   как \\n.\n\nСтруктура ожидаемого JSON:\n\nДля типа `Задача` или `Техдолг`:\n{\n  \"summary\": \"Ёмкий и понятный заголовок задачи (не более 80 символов)\",\n  \"issue_type\": \"Задача | Техдолг\",\n  \"description\": \"*Суть задачи:*\\n(коротко, что нужно сделать и зачем)\\n\\n*Технические детали / Вводные:*\\n(все собранные ID, параметры, ссылки — списком или блоком {code}...{code}; если нет — «Не указано»)\\n\\n*Затронутые пользователи / системы:*\\n(кто или что затронуто; если нет — «Не указано»)\\n\\n*Инициатор:*\\n(имя человека, который сформулировал задачу)\\n\\n*Договорённости из треда:*\\n(если в переписке уже договорились о подходе — укажи; если нет — «Не указано»)\\n\\n----\\n[Оригинальный тред|{url}]\"\n}\n\nДля типа `Ошибка`:\n{\n  \"summary\": \"Ёмкий и понятный заголовок ошибки (не более 80 символов)\",\n  \"issue_type\": \"Ошибка\",\n  \"description\": \"*Суть проблемы:*\\n(коротко, что сломалось)\\n\\n*Шаги для воспроизведения:*\\n(если известны; если нет — «Не указано»)\\n\\n*Ожидаемое поведение:*\\n(что должно происходить)\\n\\n*Фактическое поведение:*\\n(что происходит по факту)\\n\\n*Технические детали / Логи:*\\n(все собранные ID, фрагменты логов, переменные — блоком {code}...{code}; если нет — «Не указано»)\\n\\n*Затронутые пользователи / системы:*\\n(кто или что затронуто; если нет — «Не указано»)\\n\\n*Инициатор:*\\n(имя человека, который первым сообщил об ошибке)\\n\\n*Решение / Статус из треда:*\\n(если нашли причину или договорились о фиксе — укажи; если нет — «В работе / Не определено»)\\n\\n----\\n[Оригинальный тред|{url}]\"\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[224,0],"id":"6d5b209b-af5f-4e75-bdc4-da46d2489dfb","name":"Basic LLM Chain"},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{"maxTokens":2500,"responseFormat":"json_object","temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[232,224],"id":"8c05a97b-5714-40ab-bcbe-d91a2d3175e4","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[576,104],"id":"d8a0b3a5-a5f9-4b69-972e-1269aaf8419e","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"create-jira-issue-from-mm","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,432],"id":"7de88cbf-3f1d-4195-9629-00daa3641ad6","name":"Create Issue Webhook","webhookId":"d329b2e8-5d3c-4f73-8c0b-7293326dc0b6"},{"parameters":{"assignments":{"assignments":[{"id":"6c5a9366-b4be-42c1-b262-432f9a67a656","name":"issueInfo","value":"={{ $json.body.description }}","type":"string"},{"id":"24076cea-d13e-4ae7-b2b9-4f0cf4f7c87a","name":"summary","value":"={{ $json.body.summary }}","type":"string"},{"id":"32ae40c8-3d2f-441d-89c6-f2e3f8f5360e","name":"issueType","value":"={{ $json.body.issue_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,432],"id":"fb6f9fc4-b647-4741-a2fa-17e10c1e87ff","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://jira.tochka.com/rest/api/2/issue","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareServerPatApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"fields\": {\n      \"project\": {\n        \"key\": \"CREDITS\" \n      },\n      \"summary\": $('Edit Fields').item.json.summary,\n      \"description\": $('Edit Fields').item.json.issueInfo,\n      \"issuetype\": {\n        \"name\": $json.issueType\n      },\n      \"labels\": [\n        \"Партнерские_Интеграции\"\n      ]\n    }\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,432],"id":"16e24bfb-1aed-4a88-9fc5-ac8236f02c32","name":"HTTP Request","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,432],"id":"577c0622-b44b-4111-9e9a-37fb992faf96","name":"Respond to Webhook1"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{"responseFormat":"json_object","temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[360,224],"id":"8c549e80-c9f7-4f12-aa12-a9699490f042","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}}],"connections":{"Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Create Issue Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02c85026-d638-40fe-ae60-d2efee6de092","activeVersionId":"02c85026-d638-40fe-ae60-d2efee6de092","versionCounter":239,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-24T12:46:51.593Z","createdAt":"2026-03-24T12:46:51.593Z","role":"workflow:owner","workflowId":"E3WbqkqW2UJyj0ArCdNNC","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":"Version 02c85026","description":""}},{"updatedAt":"2026-04-05T11:14:43.724Z","createdAt":"2026-04-04T20:54:16.634Z","id":"6EzsIWrf0MLBQW9L","name":"Jira Naming Audit v2","description":"Аудит названий Jira-тикетов с structured output и HTML-рендером.","active":false,"isArchived":true,"nodes":[{"id":"359f4953-ceca-4452-bef8-80b50436351e","name":"Ввод ключа тикета","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[240,300],"parameters":{"formTitle":"Аудит названия Jira-тикета v2","formDescription":"Введите ключ тикета","formFields":{"values":[{"fieldLabel":"Ключ тикета","fieldName":"issueKey","fieldType":"text","placeholder":"CREDITS-8964","requiredField":true}]},"responseMode":"lastNode"},"webhookId":"709dd96b-60a0-47e2-90aa-91938321d666"},{"id":"6180b6dc-1fc3-4504-8d7a-65376f4601f7","name":"Очистить input для LLM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"parameters":{"mode":"raw","jsonOutput":"={{ { \"key\": $json.key ?? \"\", \"summary\": $json.summary ?? \"\", \"issueType\": $json.issueType ?? \"\", \"description\": ($json.description ?? \"\").substring(0, 600), \"labels\": $json.labels ?? [] } }}"}},{"id":"610a662c-59ea-4c85-b43a-09c849cdeef3","name":"Анализ названия","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[900,300],"parameters":{"promptType":"define","text":"=Проанализируй тикет.\nКлюч: {{ $json.key }}\nТип: {{ $json.issueType }}\nНазвание: {{ $json.summary }}\nОписание: {{ $json.description }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"Ты эксперт по Jira нейминг конвенциям. Отвечай JSON."}]}}},{"id":"faeb298d-b92c-4455-9426-181f7e4cf64c","name":"Grok 4.1 Fast","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[840,540],"parameters":{"model":"x-ai/grok-4.1-fast","options":{"temperature":0.2,"maxTokens":1024}},"credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"id":"3a76da76-0800-4147-8bf2-8b6aee5f66b8","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1020,540],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{ \"key\": \"CREDITS-8964\", \"issueType\": \"Задача\", \"formula\": \"<Глагол> <объект>\", \"currentTitle\": \"test\", \"diagnosis\": \"test\", \"proposedTitle\": \"test\", \"verdict\": \"Переписать\" }"}},{"id":"06e66c0d-6fd5-4b3d-b3cf-f188f72c7b11","name":"Результат","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1160,300],"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<h2>{{ $json.output.key }}</h2><p>{{ $json.output.verdict }}: {{ $json.output.proposedTitle }}</p>"},"webhookId":"78ffa88b-4e03-461b-a4ec-d43d9b8986d6"}],"connections":{"Ввод ключа тикета":{"main":[[{"node":"Очистить input для LLM","type":"main","index":0}]]},"Очистить input для LLM":{"main":[[{"node":"Анализ названия","type":"main","index":0}]]},"Анализ названия":{"main":[[{"node":"Результат","type":"main","index":0}]]},"Grok 4.1 Fast":{"ai_languageModel":[[{"node":"Анализ названия","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Анализ названия","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"8f0e2a15-9387-46ff-8102-180c65dc3fd5","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T20:54:16.634Z","createdAt":"2026-04-04T20:54:16.634Z","role":"workflow:owner","workflowId":"6EzsIWrf0MLBQW9L","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-05T11:14:41.768Z","createdAt":"2026-04-04T20:56:41.357Z","id":"DSfH2R15UfkRz68B","name":"Jira Naming Audit v2","description":"Аудит названий Jira-тикетов: Set clean + structured output + few-shot + HTML verdict.","active":false,"isArchived":true,"nodes":[{"id":"953de76f-eb11-4e01-9be5-2fabc088b7e2","name":"Ввод ключа тикета","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[240,300],"parameters":{"formTitle":"Аудит названия Jira-тикета","formDescription":"Введите ключ тикета (например, CREDITS-8964)","formFields":{"values":[{"fieldLabel":"Ключ тикета","fieldName":"issueKey","fieldType":"text","placeholder":"CREDITS-8964","requiredField":true}]},"responseMode":"lastNode"},"webhookId":"b21604b5-11e4-40db-a042-a0af9a8f6bac"},{"id":"a14c7f88-e164-4f20-863a-119e328cd807","name":"Загрузить тикет из Jira","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[460,300],"parameters":{"method":"POST","url":"https://n8n.mindhackerdev.ru/mcp/jira-mcp","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { \"jsonrpc\": \"2.0\", \"method\": \"tools/call\", \"params\": { \"name\": \"Get_an_issue_in_Jira_Software\", \"arguments\": { \"Issue_Key\": $json.issueKey, \"Simplify\": true } }, \"id\": 1 } }}"}},{"id":"10febd43-4aea-41e9-8ee1-f68358f5e71b","name":"Очистить input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"parameters":{"mode":"raw","jsonOutput":"={{ (() => { const raw = $json.result?.content?.[0]?.text ?? \"{}\"; const d = typeof raw === \"string\" ? JSON.parse(raw) : raw; const a = Array.isArray(d) ? d[0] : d; return { key: a.key ?? \"\", summary: a[\"Тема\"] ?? a.summary ?? \"\", issueType: a[\"Тип задачи\"]?.name ?? \"\", description: (a[\"Описание\"] ?? a.description ?? \"\").substring(0, 600), labels: a[\"Метки\"] ?? [] }; })() }}"}},{"id":"cd52e0f5-157d-452d-8521-7e477ee15085","name":"Анализ названия","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[900,300],"parameters":{"promptType":"define","text":"=Проанализируй тикет.\nКлюч: {{ $json.key }}\nТип: {{ $json.issueType }}\nНазвание: {{ $json.summary }}\nЛейблы: {{ $json.labels }}\nОписание: {{ $json.description }}","hasOutputParser":true,"messages":{"messageValues":[{"type":"SystemMessagePromptTemplate","message":"Ты эксперт по Jira нейминг конвенциям. JSON.\n\nПравила:\n- User Story: <Персона> <действие> <объект>\n- Bug: <Что> не <ожидаемое>\n- Task: <Глагол> <объект>\n- Техдолг: <Глагол> <объект>\n\nПринципы: понятно без описания, нет номинализаций, нет [QC]/[FIX], конкретика, до 100 символов\n\nВердикт: ОК/Доработать/Переписать\n\nПримеры:\n1. Задача \"Флаг добавления партнера на разводящую\" -> \"Добавить флаг for_loans_page для карточки партнера\" Переписать\n2. Ошибка \"Неверный экран в определенном статусе\" -> \"Заявка SIGNED_* показывает экран рассмотрения вместо выдачи\" Доработать\n3. Техдолг \"Синхронная доставка статуса от expresscredit в credit-main\" -> то же ОК\n4. Техдолг \"Падают запросы кредитору\" -> \"Вынести запросы к кредитору из транзакции (transactional outbox)\" Переписать"}]}}},{"id":"d7086c0f-a639-493a-a0f6-be25c2bb90c2","name":"Grok 4.1 Fast","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[840,540],"parameters":{"model":"x-ai/grok-4.1-fast","options":{"temperature":0.2,"maxTokens":1024}},"credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"id":"74144194-4b54-49d0-90de-39d2a0d5cdee","name":"JSON Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1020,540],"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"key\":\"CREDITS-XXX\",\"issueType\":\"Задача\",\"formula\":\"<Глагол> <объект>\",\"currentTitle\":\"old\",\"diagnosis\":\"reason\",\"proposedTitle\":\"new\",\"verdict\":\"Переписать\"}"}},{"id":"fb0c95e7-91ec-4131-90bf-7565272e12d3","name":"Результат","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1160,300],"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"font-family:system-ui;max-width:600px;margin:0 auto;padding:20px\"><h2>{{ $json.output.key }}</h2><table style=\"width:100%;font-size:14px;border-collapse:collapse\"><tr><td style=\"color:#888;padding:6px 0;width:120px\">Тип</td><td>{{ $json.output.issueType }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"color:#888;padding:6px 0\">Формула</td><td><code>{{ $json.output.formula }}</code></td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"color:#888;padding:6px 0\">Было</td><td style=\"text-decoration:line-through;color:#999\">{{ $json.output.currentTitle }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"color:#888;padding:6px 0\">Диагноз</td><td style=\"color:#b45309\">{{ $json.output.diagnosis }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"color:#888;padding:6px 0\">Стало</td><td style=\"font-weight:600\">{{ $json.output.proposedTitle }}</td></tr><tr style=\"border-top:1px solid #eee\"><td style=\"color:#888;padding:6px 0\">Вердикт</td><td><span style=\"padding:2px 10px;border-radius:6px;font-size:12px;font-weight:500;background:{{ $json.output.verdict === \"ОК\" ? \"#dcfce7\" : $json.output.verdict === \"Доработать\" ? \"#fef9c3\" : \"#fee2e2\" }};color:{{ $json.output.verdict === \"ОК\" ? \"#166534\" : $json.output.verdict === \"Доработать\" ? \"#854d0e\" : \"#991b1b\" }}\">{{ $json.output.verdict }}</span></td></tr></table></div>"},"webhookId":"821b356b-278a-41e5-aa5f-1ca91d1c0f8c"}],"connections":{"Ввод ключа тикета":{"main":[[{"node":"Загрузить тикет из Jira","type":"main","index":0}]]},"Загрузить тикет из Jira":{"main":[[{"node":"Очистить input","type":"main","index":0}]]},"Очистить input":{"main":[[{"node":"Анализ названия","type":"main","index":0}]]},"Анализ названия":{"main":[[{"node":"Результат","type":"main","index":0}]]},"Grok 4.1 Fast":{"ai_languageModel":[[{"node":"Анализ названия","type":"ai_languageModel","index":0}]]},"JSON Schema":{"ai_outputParser":[[{"node":"Анализ названия","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":null,"versionId":"b2a6e048-f475-44f8-b094-be784e5010d6","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T20:56:41.357Z","createdAt":"2026-04-04T20:56:41.357Z","role":"workflow:owner","workflowId":"DSfH2R15UfkRz68B","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-05T11:14:39.333Z","createdAt":"2026-04-04T20:33:13.193Z","id":"Ck8R4drIaNLBAMDb","name":"Jira Naming Audit v2","description":"Аудит названий Jira-тикетов: очистка input → structured JSON output → HTML-рендер с цветным вердиктом.","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Аудит названия Jira-тикета","formDescription":"Введите ключ тикета (например, CREDITS-8964), и ИИ предложит улучшенное название по канонам нейминга.","formFields":{"values":[{"fieldLabel":"Ключ тикета","fieldName":"issueKey","placeholder":"CREDITS-8964","defaultValue":"CREDITS-8344","requiredField":true}]},"responseMode":"lastNode","options":{}},"id":"359f4953-ceca-4452-bef8-80b50436351e","name":"Ввод ключа тикета","type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[240,304],"webhookId":"33ef959a-c525-45bf-a39e-1f516e5b3ba8"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"={{ $json.issueKey }}","simplifyOutput":true,"additionalFields":{"fields":"summary,description,comment,issuetype,labels"}},"id":"dcf868d1-377f-44be-a617-c495381caa4f","name":"Загрузить тикет","type":"n8n-nodes-base.jira","typeVersion":1,"position":[464,304],"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"assignments":{"assignments":[{"id":"88d10037-f001-4c13-a97c-c0c846c1861e","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"ad12edb3-b36f-452d-8921-7da50254f8b7","name":"description","value":"={{ $json['Описание'] }}","type":"string"},{"id":"17032f8e-afb8-4f71-ab8f-965294359e74","name":"issueType","value":"={{ $json['Тип задачи'].name }}","type":"string"},{"id":"a85822a4-10f0-4e78-9233-69666baadae0","name":"labels","value":"={{ $json['Метки'] }}","type":"array"},{"id":"db603de6-9486-4ae6-846b-7032cf7c5392","name":"summary","value":"={{ $json['Тема'] }}","type":"string"}]},"options":{}},"id":"6180b6dc-1fc3-4504-8d7a-65376f4601f7","name":"Очистить input для LLM","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,304]},{"parameters":{"promptType":"define","text":"=Проанализируй Jira-тикет и предложи улучшенное название.\n\nДанные тикета:\nКлюч: {{ $json.key }}\nТип: {{ $json.issueType }}\nТекущее название: {{ $json.summary }}\nЛейблы: {{ $json.labels }}\nОписание (первые 600 символов): {{ $json.description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Ты — эксперт по нейминг-конвенциям Jira-тикетов. Отвечай СТРОГО в формате JSON по заданной схеме.\n\n## Правила формулирования Summary по типам:\n- User Story → <Персона> <действие> <объект> (от лица пользователя, глагол обязателен)\n- Bug / Ошибка → <Что> не <ожидаемое поведение> (описывает дефект, не решение)\n- Task / Задача → <Глагол> <объект> (начинается с инфинитива: добавить, реализовать, перевести)\n- Техдолг → <Глагол> <объект> (как Task, но с техническим контекстом)\n\n## Принципы:\n- Название понятно без открытия описания\n- Нет отглагольных существительных вместо глаголов (\"Обновление\" → \"Обновить\")\n- Нет метаданных в названии ([QC], [FIX])\n- Для багов: описание проблемы, а не решения\n- Конкретика вместо абстракций (\"в определённом статусе\" → назвать статус)\n- До 100 символов идеально\n\n## Вердикт:\n- \"ОК\" — название уже хорошее, менять не нужно. В proposedTitle повтори текущее.\n- \"Доработать\" — структура верная, но нужны уточнения\n- \"Переписать\" — название не соответствует канонам\n\n## Примеры (few-shot):\n\nПример 1:\nТип: Задача | Было: \"Флаг добавления партнера на разводящую\"\nДиагноз: Нет глагола. \"Флаг добавления\" — номинализация. \"Разводящую\" — жаргон.\nСтало: \"Добавить флаг for_loans_page в метод list для размещения партнерской карточки на странице Кредиты и займы\"\nВердикт: Переписать\n\nПример 2:\nТип: Ошибка | Было: \"Отображается неверный экран заявки, когда она находится в определенном статусе\"\nДиагноз: \"В определённом статусе\" слишком расплывчато.\nСтало: \"Свободная заявка на этапе выдачи (SIGNED_*) отображает экран рассмотрения вместо Деньги скоро придут\"\nВердикт: Доработать\n\nПример 3:\nТип: Техдолг | Было: \"Реализовать синхронную доставку статуса заявки от expresscredit в credit-main\"\nДиагноз: Отличное название. Глагол + объект + оба сервиса явно указаны.\nСтало: \"Реализовать синхронную доставку статуса заявки от expresscredit в credit-main\"\nВердикт: ОК\n\nПример 4:\nТип: Техдолг | Было: \"Падают запросы кредитору\"\nДиагноз: Максимально расплывчато. Нет сервиса, причины, решения.\nСтало: \"Вынести запросы к кредитору из транзакции (transactional outbox) для устранения SQL-таймаутов\"\nВердикт: Переписать"}]},"batching":{}},"id":"610a662c-59ea-4c85-b43a-09c849cdeef3","name":"Анализ названия","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[912,304]},{"parameters":{"model":"anthropic/claude-sonnet-4.6","options":{"maxTokens":1024,"temperature":0.2}},"id":"faeb298d-b92c-4455-9426-181f7e4cf64c","name":"Grok 4.1 Fast","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[848,544],"credentials":{"openRouterApi":{"id":"EKYPgtukSLA9sXtl","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"key\": \"CREDITS-8964\",\n  \"issueType\": \"Задача\",\n  \"formula\": \"<Глагол> <объект>\",\n  \"currentTitle\": \"Флаг добавления партнера на разводящую\",\n  \"diagnosis\": \"Нет глагола. Номинализация. Жаргон без контекста.\",\n  \"proposedTitle\": \"Добавить флаг for_loans_page для размещения партнерской карточки на странице Кредиты и займы\",\n  \"verdict\": \"Переписать\"\n}"},"id":"3a76da76-0800-4147-8bf2-8b6aee5f66b8","name":"Structured Output","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,544]},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"=<div style=\"font-family:system-ui,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><h2 style=\"margin-bottom:4px\">Аудит: {{ $json.output.key }}</h2><table style=\"width:100%;border-collapse:collapse;font-size:14px\"><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;width:140px\">Тип</td><td style=\"padding:8px 0\">{{ $json.output.issueType }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Формула</td><td style=\"padding:8px 0;border-top:1px solid #eee\"><code>{{ $json.output.formula }}</code></td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Текущее</td><td style=\"padding:8px 0;border-top:1px solid #eee;text-decoration:line-through;color:#999\">{{ $json.output.currentTitle }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Диагноз</td><td style=\"padding:8px 0;border-top:1px solid #eee;color:#b45309\">{{ $json.output.diagnosis }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Предложение</td><td style=\"padding:8px 0;border-top:1px solid #eee;font-weight:600\">{{ $json.output.proposedTitle }}</td></tr><tr><td style=\"padding:8px 0;color:#888;vertical-align:top;border-top:1px solid #eee\">Вердикт</td><td style=\"padding:8px 0;border-top:1px solid #eee\"><span style=\"padding:2px 10px;border-radius:6px;font-size:12px;font-weight:500;background:{{ $json.output.verdict === \"ОК\" ? \"#dcfce7\" : $json.output.verdict === \"Доработать\" ? \"#fef9c3\" : \"#fee2e2\" }};color:{{ $json.output.verdict === \"ОК\" ? \"#166534\" : $json.output.verdict === \"Доработать\" ? \"#854d0e\" : \"#991b1b\" }}\">{{ $json.output.verdict }}</span></td></tr></table></div>"},"id":"2fd0e0ad-1167-4f9d-bc46-5bbd1c3c1070","name":"Результат аудита","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1168,304],"webhookId":"28e20d87-3669-4ef6-ab76-544ffefc124f"}],"connections":{"Ввод ключа тикета":{"main":[[{"node":"Загрузить тикет","type":"main","index":0}]]},"Загрузить тикет":{"main":[[{"node":"Очистить input для LLM","type":"main","index":0}]]},"Очистить input для LLM":{"main":[[{"node":"Анализ названия","type":"main","index":0}]]},"Анализ названия":{"main":[[{"node":"Результат аудита","type":"main","index":0}]]},"Grok 4.1 Fast":{"ai_languageModel":[[{"node":"Анализ названия","type":"ai_languageModel","index":0}]]},"Structured Output":{"ai_outputParser":[[{"node":"Анализ названия","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"aa5044d4-9b9f-4059-ac5a-f99b90c29205","activeVersionId":null,"versionCounter":63,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-04T20:33:13.193Z","createdAt":"2026-04-04T20:33:13.193Z","role":"workflow:owner","workflowId":"Ck8R4drIaNLBAMDb","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-05T11:32:47.719Z","createdAt":"2026-04-03T10:23:27.493Z","id":"TULUmSRn2ySEGkP1k9Kmg","name":"RICE Workflow","description":"RICE Workflow with CORS enabled on both webhook triggers (allowedOrigins: *)","active":true,"isArchived":false,"nodes":[{"id":"5be7aebf-64bc-4baf-808a-a90119edc622","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,16],"parameters":{"path":"rice-scoring","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"80c2aab0-0e9b-4db0-b6a0-ad54fbeb54c1"},{"id":"46a6c34b-94df-4ca4-b53a-8b45e6e44fec","name":"Get many issues","type":"n8n-nodes-base.jira","typeVersion":1,"position":[256,16],"parameters":{"jiraVersion":"serverPat","operation":"getAll","returnAll":true,"options":{"fields":"labels, description,status,priority,issuelinks,issuetype,summary","jql":"project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции"}},"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"id":"778d3e93-f9cb-457a-a7c2-dea5fa30bd78","name":"Upsert row(s)","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[464,16],"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"3k3Vwtx9NWjxK4Uy","mode":"list","cachedResultName":"RICE Scoring","cachedResultUrl":"/projects/jz3mPiCB8BdxajRc/datatables/3k3Vwtx9NWjxK4Uy"},"filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.key }}"}]},"columns":{"mappingMode":"defineBelow","value":{"summary":"={{ $json.fields.summary }}","key":"={{ $json.key }}","labels":"={{ $json.fields.labels.join(', ') }}","priority":"={{ $json.fields.priority.name }}","status":"={{ $json.fields.status.name }}","issue_type":"={{ $json.fields.issuetype.name }}"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"issue_type","displayName":"issue_type","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"labels","displayName":"labels","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"reach","displayName":"reach","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"impact","displayName":"impact","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"rice_score","displayName":"rice_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"fb5e7911-a41e-4150-b2f2-cb017cba6507","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,16],"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseKey":"issues"}}},{"id":"393f1ce8-6c22-4f43-bd08-57518900d4b2","name":"Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,240],"parameters":{"httpMethod":"POST","path":"rice-score-update","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"webhookId":"bb47a116-eede-4050-96a9-394237f6038e"},{"id":"5b16bb0e-e427-4100-9976-b3c6be7f2da3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,240],"parameters":{"assignments":{"assignments":[{"id":"ef870712-9005-4ef3-86f2-e347bd4d83a6","name":"updates","value":"={{ $json.body.updates }}","type":"array"}]},"options":{}}},{"id":"ccc36c55-ed68-47ee-b3bf-37022848e1f0","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,240],"parameters":{"fieldToSplitOut":"updates","options":{}}},{"id":"c7daf61b-0fae-4d37-807f-4509ad3616ee","name":"Update row(s)","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[640,240],"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"3k3Vwtx9NWjxK4Uy","mode":"list","cachedResultName":"RICE Scoring","cachedResultUrl":"/projects/jz3mPiCB8BdxajRc/datatables/3k3Vwtx9NWjxK4Uy"},"filters":{"conditions":[{"keyName":"key","keyValue":"={{ $json.key }}"}]},"columns":{"mappingMode":"defineBelow","value":{"reach":"={{ $json.reach }}","impact":"={{ $json.impact }}","confidence":"={{ $json.confidence }}","rice_score":"={{ $json.rice_score }}","effort":"={{ $json.effort }}"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"issue_type","displayName":"issue_type","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"labels","displayName":"labels","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"reach","displayName":"reach","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"impact","displayName":"impact","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"rice_score","displayName":"rice_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"effort","displayName":"effort","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"df5a08fd-b5de-45e5-9bbf-cc8dbb2741ff","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[848,240],"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"status","value":"Issues Successfully updated!"}]},"responseKey":"updated_issues"}}}],"connections":{"Webhook":{"main":[[{"node":"Get many issues","type":"main","index":0}]]},"Get many issues":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Upsert row(s)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Update row(s)","type":"main","index":0}]]},"Update row(s)":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"c928c196-1b3f-4451-be5b-d2dc2abad54d","activeVersionId":"c928c196-1b3f-4451-be5b-d2dc2abad54d","versionCounter":138,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-03T10:23:27.493Z","createdAt":"2026-04-03T10:23:27.493Z","role":"workflow:owner","workflowId":"TULUmSRn2ySEGkP1k9Kmg","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-13T08:17:45.868Z","createdAt":"2026-02-19T09:03:30.758Z","id":"Ds9DCREg8Ykze6J5rsFkW","name":"PM Helper Webhook","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"a05fc339-af3e-434b-b1a3-01a3d04300ca","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,0],"id":"ca4b4cc4-97cb-4928-b25a-4fd01c497a75","name":"Webhook","webhookId":"a05fc339-af3e-434b-b1a3-01a3d04300ca"},{"parameters":{"jiraVersion":"serverPat","operation":"get","issueKey":"={{ $json.query.key }}","additionalFields":{"fields":"summary,description,status,priority,assignee,reporter,creator,created,updated,comment,issuetype,project,labels,attachment"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[16,96],"id":"78b58581-e56a-4bbd-9800-ed65adc77b05","name":"Get an issue","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[688,96],"id":"b561071b-92f9-4eb0-a591-2d92d6bed450","name":"Respond to Webhook"},{"parameters":{"jsCode":"// 1. Берем текстовые данные напрямую из ноды \"Get an issue\"\nconst issueData = $('Get an issue').first().json;\nconst fields = issueData.fields || {};\n// Собираем комментарии\nconst cleanedComments = (fields.comment?.comments || []).map(c => ({\n  author: c.author?.displayName || \"Неизвестно\",\n  body: c.body,\n  created: c.created\n}));\n\n// Собираем ссылки на вложения\nconst attachmentLinks = (fields.attachment || []).map(a => ({\n  filename: a.filename,\n  mimeType: a.mimeType,\n  url: a.content\n}));\n\n// 2. Достаем файлы и конвертируем их из файловой системы в Base64\nconst downloadedFiles = [];\nconst items = $input.all(); \n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (item.binary) {\n    for (const key of Object.keys(item.binary)) {\n      \n      // ИСПРАВЛЕНА СТРОКА 29: правильное название метода и порядок аргументов (индекс, ключ)\n      const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(i, key);\n      const base64String = binaryDataBuffer.toString('base64');\n\n      downloadedFiles.push({\n        filename: item.binary[key].fileName,\n        mimeType: item.binary[key].mimeType,\n        base64: base64String\n      });\n    }\n  }\n}\n\n// 3. Формируем чистый итоговый объект\nconst cleanData = {\n  key: issueData.key || \"Неизвестно\",\n  summary: fields.summary,\n  description: fields.description,\n  status: fields.status?.name,\n  priority: fields.priority?.name,\n  issuetype: fields.issuetype?.name,\n  project: fields.project?.name,\n  assignee: fields.assignee?.displayName || null,\n  reporter: fields.reporter?.displayName || null,\n  labels: fields.labels || [],\n  created: fields.created,\n  updated: fields.updated,\n  comments: cleanedComments,\n  attachments_info: attachmentLinks,\n  files_data: downloadedFiles\n};\nreturn { json: cleanData };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,96],"id":"6c340f60-e054-458e-b99f-f73b668acc43","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,192],"id":"c7a4957a-58b0-4880-92f3-9430ff9a4c5d","name":"When clicking ‘Execute workflow’"},{"parameters":{"jiraVersion":"serverPat","resource":"issueAttachment","operation":"getAll","issueKey":"={{ $json.key }}","returnAll":true,"download":true},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[240,96],"id":"96316cf5-e6fa-4363-adc5-022687adfde3","name":"Get many issue attachments","alwaysOutputData":true,"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","options":{"fields":"summary,description,status,priority,assignee,reporter,creator,created,updated,comment,issuetype,project,labels,attachment","jql":"=issuekey in ({{ $json.body.keys }})"}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[16,416],"id":"c38cbed5-af00-4adf-9c40-5ef3c103a1eb","name":"Get many issues","credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// 1. Берем текстовые данные напрямую из ноды \"Get an issue\"\nconst issueData = $json;\nconst fields = issueData.fields || {};\n\n// Собираем комментарии\nconst cleanedComments = (fields.comment?.comments || []).map(c => ({\n  author: c.author?.displayName || \"Неизвестно\",\n  body: c.body,\n  created: c.created\n}));\n\n\nconst cleanData = {\n  key: issueData.key || \"Неизвестно\",\n  summary: fields.summary,\n  description: fields.description,\n  status: fields.status?.name,\n  priority: fields.priority?.name,\n  issuetype: fields.issuetype?.name,\n  project: fields.project?.name,\n  assignee: fields.assignee?.displayName || null,\n  reporter: fields.reporter?.displayName || null,\n  labels: fields.labels || [],\n  created: fields.created,\n  updated: fields.updated,\n  comments: cleanedComments,\n};\n\nreturn { json: cleanData };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,416],"id":"e712488d-7075-474d-ba64-b5c8de80b8da","name":"Code in JavaScript1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[464,416],"id":"2169d680-79a4-4681-ba66-85534de26ec6","name":"Respond to Webhook1"},{"parameters":{"httpMethod":"POST","path":"get-multiple-issues","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,416],"id":"528f5f05-a370-42e8-82bf-8e60d94958cd","name":"Webhook1","webhookId":"8f63df26-901e-4de2-93ef-362c90604123"}],"connections":{"Webhook":{"main":[[{"node":"Get an issue","type":"main","index":0}]]},"Get an issue":{"main":[[{"node":"Get many issue attachments","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get an issue","type":"main","index":0}]]},"Get many issue attachments":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get many issues":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Get many issues","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e82ded71-4338-4856-a685-038fee9f2088","activeVersionId":"e82ded71-4338-4856-a685-038fee9f2088","versionCounter":171,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-02-19T09:03:30.758Z","createdAt":"2026-02-19T09:03:30.758Z","role":"workflow:owner","workflowId":"Ds9DCREg8Ykze6J5rsFkW","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":"Version e82ded71","description":""}},{"updatedAt":"2026-04-05T06:42:30.302Z","createdAt":"2026-04-05T06:14:25.760Z","id":"oCNub78Cu9N6vLTc","name":"Kanban Metrics - Jira Data","description":"Supports standard mode (project+types+extraConditions) and custom JQL mode. Queries Jira with changelog expansion, returns structured JSON for Kanban metrics calculations.","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kanban-metrics","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"7e6b3851-f427-4988-8820-4d519d127b7a","name":"Receive Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,304],"webhookId":"82e0cadf-6c79-4dd7-bf02-6ef53d3070d4"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nlet jql;\nif (body.customJql && body.customJql.trim()) {\n  jql = body.customJql.trim();\n} else {\n  const project = body.project;\n  const issueTypes = body.issueTypes || ['User Story', 'Задача', 'Ошибка', 'Техдолг'];\n  const dateFrom = body.dateFrom;\n  const dateTo = body.dateTo;\n  const typesList = issueTypes.map(t => '\"' + t + '\"').join(', ');\n  jql = 'project = \"' + project + '\" AND issuetype in (' + typesList + ')';\n  if (dateFrom) jql += ' AND created >= \"' + dateFrom + '\"';\n  if (dateTo) jql += ' AND created <= \"' + dateTo + '\"';\n  if (body.extraConditions && body.extraConditions.trim()) {\n    jql += ' AND ' + body.extraConditions.trim();\n  }\n  jql += ' ORDER BY created ASC';\n}\n\nreturn [{ json: { jql, ...body } }];"},"id":"cedf4379-af48-4f82-8ef2-b242f149f9a9","name":"Prepare JQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304]},{"parameters":{"jiraVersion":"serverPat","operation":"getAll","returnAll":true,"options":{"expand":["changelog"],"fields":"summary,issuetype,created,status","jql":"={{ $json.jql }}"}},"id":"746b4f43-50e8-4a68-aef6-0091f19102c0","name":"Fetch Jira Issues","type":"n8n-nodes-base.jira","typeVersion":1,"position":[640,304],"credentials":{"jiraSoftwareServerPatApi":{"id":"5SFlqPVwtO2oNk7Z","name":"Jira Server"}}},{"parameters":{"jsCode":"const issues = [];\n\nfor (const item of $input.all()) {\n  const issue = item.json;\n  const histories = (issue.changelog && issue.changelog.histories) ? issue.changelog.histories : [];\n\n  const sortedHistories = [...histories].sort((a, b) => new Date(a.created) - new Date(b.created));\n\n  const transitions = [];\n\n  if (sortedHistories.length > 0) {\n    const firstStatusChange = sortedHistories[0].items && sortedHistories[0].items.find(i => i.field === 'status');\n    if (firstStatusChange) {\n      transitions.push({\n        status: firstStatusChange.fromString,\n        enteredAt: issue.fields && issue.fields.created\n      });\n    }\n  } else {\n    transitions.push({\n      status: issue.fields && issue.fields.status && issue.fields.status.name,\n      enteredAt: issue.fields && issue.fields.created\n    });\n  }\n\n  for (const history of sortedHistories) {\n    for (const change of (history.items || [])) {\n      if (change.field === 'status') {\n        transitions.push({\n          status: change.toString,\n          enteredAt: history.created\n        });\n      }\n    }\n  }\n\n  issues.push({\n    key: issue.key,\n    summary: (issue.fields && issue.fields.summary) || '',\n    type: (issue.fields && issue.fields.issuetype && issue.fields.issuetype.name) || 'Unknown',\n    created: (issue.fields && issue.fields.created) || '',\n    currentStatus: (issue.fields && issue.fields.status && issue.fields.status.name) || '',\n    transitions\n  });\n}\n\nreturn [{ json: { issues, meta: { total: issues.length, fetchedAt: new Date().toISOString() } } }];"},"id":"9707e2d7-7ce4-46a8-b152-a61b698c11bc","name":"Transform Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,304]},{"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"f8a87a2a-8762-4cf1-949a-7f40ff3e3526","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1040,304]}],"connections":{"Receive Request":{"main":[[{"node":"Prepare JQL","type":"main","index":0}]]},"Prepare JQL":{"main":[[{"node":"Fetch Jira Issues","type":"main","index":0}]]},"Fetch Jira Issues":{"main":[[{"node":"Transform Data","type":"main","index":0}]]},"Transform Data":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"f350ffbe-7f1e-4a08-bf8e-3cdeb3388e8b","activeVersionId":"3f0f6641-8763-41fb-b16c-fcf8507f7bea","versionCounter":10,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-05T06:14:25.760Z","createdAt":"2026-04-05T06:14:25.760Z","role":"workflow:owner","workflowId":"oCNub78Cu9N6vLTc","projectId":"jz3mPiCB8BdxajRc","project":{"updatedAt":"2026-02-11T07:20:49.920Z","createdAt":"2026-02-11T07:20:19.700Z","id":"jz3mPiCB8BdxajRc","name":"Ilia Gremitskikh <gremilya@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ca88ed10-c6e9-4539-a514-47d7715127fb"}}],"versionMetadata":{"name":null,"description":null}}]