info/PM Helper Webhook Unified (import-ready).json
{
  "name": "PM Helper Webhook Unified",
  "nodes": [
    {
      "id": "ca4b4cc4-97cb-4928-b25a-4fd01c497a75",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "PATCH"
        ],
        "path": "jira/issues",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "a05fc339-af3e-434b-b1a3-01a3d04300ca"
    },
    {
      "id": "bb000001-0000-4000-8000-000000000001",
      "name": "Switch: Route GET",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        260,
        -200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-has-key",
                    "leftValue": "={{ $json.query.key }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "detail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "bb000002-0000-4000-8000-000000000002",
      "name": "Jira: Get Single Issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        520,
        -400
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "get",
        "issueKey": "={{ $json.query.key }}",
        "additionalFields": {
          "fields": "summary,description,status,priority,assignee,reporter,creator,created,updated,comment,issuetype,project,labels,attachment,customfield_19878,customfield_22700,customfield_21219,customfield_19879"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000003-0000-4000-8000-000000000003",
      "name": "Code: Format Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -400
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst fields = item.fields ?? {};\n\nconst comments = (fields.comment?.comments ?? []).map(c => ({\n  author: c.author?.displayName ?? 'Неизвестно',\n  body: c.body,\n  created: c.created,\n}));\n\nconst attachments = (fields.attachment ?? []).map(a => ({\n  filename: a.filename,\n  mimeType: a.mimeType,\n  url: a.content,\n}));\n\nreturn [{\n  json: {\n    key: item.key,\n    summary: fields.summary,\n    description: fields.description,\n    status: fields.status?.name,\n    priority: fields.priority?.name,\n    issuetype: fields.issuetype?.name,\n    project: fields.project?.name,\n    assignee: fields.assignee?.displayName ?? null,\n    reporter: fields.reporter?.displayName ?? null,\n    labels: fields.labels ?? [],\n    created: fields.created,\n    updated: fields.updated,\n    comments,\n    attachments_info: attachments,\n    checklists: fields.customfield_19878,\n    needToUpdateSource: fields.customfield_19879?.value === 'Да',\n    slService: fields.customfield_21219?.[0],\n    productCatalog: fields.customfield_22700?.[0],\n  },\n}];"
      }
    },
    {
      "id": "bb000004-0000-4000-8000-000000000004",
      "name": "Respond: Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -400
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": "issues"
        }
      }
    },
    {
      "id": "bb000005-0000-4000-8000-000000000005",
      "name": "Code: Build List JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -200
      ],
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\n\nlet jql;\nif (typeof $json.jql === 'string' && $json.jql.trim()) {\n  jql = $json.jql.trim();\n} else if (query.jql) {\n  jql = query.jql;\n} else if (query.project) {\n  jql = 'project = ' + query.project + ' AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") ORDER BY created ASC';\n} else {\n  jql = 'project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции';\n}\n\nreturn [{ json: { ...$json, jql } }];"
      }
    },
    {
      "id": "bb000006-0000-4000-8000-000000000006",
      "name": "Jira: Get List Issues by JQL",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        780,
        -200
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fields": "summary,description,status,priority,issuetype",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "e51c6e79-331e-49da-9bd3-331c2d7eeecf",
      "name": "DataTable: RICE Scores",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        780,
        0
      ],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "key"
      }
    },
    {
      "id": "d9ec3576-ec8e-443f-9864-e83f221cb940",
      "name": "Merge: List + Scores",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -100
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "bb000007-0000-4000-8000-000000000007",
      "name": "Code: Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -100
      ],
      "parameters": {
        "jsCode": "const jiraIssues = $('Jira: Get List Issues by JQL').all();\nconst scoreRows = $('DataTable: RICE Scores').all();\nconst scoreByKey = new Map(scoreRows.map(({ json }) => [json.key, json]));\n\nreturn jiraIssues.map(({ json }) => {\n  const fields = json.fields ?? {};\n  const score = scoreByKey.get(json.key) ?? {};\n  const riceScore = score.rice_score ?? null;\n  const bugScore = score.bug_score ?? null;\n  const tdRoi = score.td_roi ?? null;\n\n  return {\n    json: {\n      key: json.key ?? 'Неизвестно',\n      summary: fields.summary ?? json.summary ?? score.summary ?? '',\n      description: fields.description ?? json.description ?? score.description ?? '',\n      status: fields.status?.name ?? json.status ?? score.status ?? '',\n      priority: fields.priority?.name ?? json.priority ?? score.priority ?? '',\n      issuetype: fields.issuetype?.name ?? json.issuetype ?? json.issue_type ?? score.issue_type ?? '',\n      reach: score.reach ?? null,\n      impact: score.impact ?? null,\n      confidence: score.confidence ?? null,\n      effort: score.effort ?? null,\n      rice_score: riceScore,\n      bug_risk: score.bug_risk ?? null,\n      bug_process: score.bug_process ?? null,\n      bug_scale: score.bug_scale ?? null,\n      bug_workaround: score.bug_workaround ?? null,\n      bug_score: bugScore,\n      td_impact: score.td_impact ?? null,\n      td_effort: score.td_effort ?? null,\n      td_roi: tdRoi,\n      score: riceScore ?? bugScore ?? tdRoi ?? null,\n    },\n  };\n});"
      }
    },
    {
      "id": "bb000009-0000-4000-8000-000000000009",
      "name": "Code: Map Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\nreturn {\n  json: {\n    summary:            body.summary,\n    description:        body.description,\n    issuetype:          body.issuetype,\n    priority:           priorityMap[body.priority] ?? body.priority,\n    labels:             body.labels,\n    slService:          body.slService,\n    productCatalog:     body.productCatalog,\n    needToUpdateSource: body.needToUpdateSource,\n    checklists:         body.checklists,\n  },\n};"
      }
    },
    {
      "id": "bb00000a-0000-4000-8000-000000000010",
      "name": "HTTP: Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://jira.tochka.com/rest/api/2/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"fields\": {\n    \"project\":     { \"key\": \"CREDITS\" },\n    \"summary\":     $json.summary,\n    \"description\": $json.description,\n    \"issuetype\":   { \"name\": $json.issuetype },\n    \"priority\":    { \"id\": $json.priority },\n    ...($json.labels?.length     ? { \"labels\": $json.labels } : {}),\n    ...($json.slService          ? { \"customfield_21219\": [$json.slService] } : {}),\n    ...($json.productCatalog     ? { \"customfield_22700\": [$json.productCatalog] } : {}),\n    ...($json.needToUpdateSource ? { \"customfield_19879\": { \"value\": $json.needToUpdateSource } } : {}),\n    ...($json.checklists?.length ? { \"customfield_19878\": Array.isArray($json.checklists) ? $json.checklists : [$json.checklists] } : {})\n  }\n} }}",
        "options": {}
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000b-0000-4000-8000-000000000011",
      "name": "Respond: Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'created', key: $json.key }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "bb00000c-0000-4000-8000-000000000012",
      "name": "Code: Map Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body  = $json.body ?? {};\nconst key   = $json.query?.key;\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\n// Собираем только те поля, которые реально пришли в теле запроса\nconst fields = {\n  ...('summary'     in body ? { summary:     body.summary }     : {}),\n  ...('description' in body ? { description: body.description } : {}),\n  ...('priority'    in body ? { priority: { id: priorityMap[body.priority] ?? body.priority } } : {}),\n  ...('labels'      in body ? { labels:       body.labels }      : {}),\n  ...('checklists'  in body ? { customfield_19878: Array.isArray(body.checklists) ? body.checklists : [body.checklists] } : {}),\n  ...(body.slService          ? { customfield_21219: [body.slService] }                  : {}),\n  ...(body.productCatalog     ? { customfield_22700: [body.productCatalog] }             : {}),\n  ...(body.needToUpdateSource !== undefined ? { customfield_19879: { value: body.needToUpdateSource || 'Нет' } } : {}),\n};\n\nreturn { json: { key, fields } };"
      }
    },
    {
      "id": "bb00000d-0000-4000-8000-000000000013",
      "name": "HTTP: Update Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://jira.tochka.com/rest/api/2/issue/{{ $json.key }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"fields\": $json.fields } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000e-0000-4000-8000-000000000014",
      "name": "Respond: Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ key: $('Code: Map Update').item.json.key, status: 'updated', code: $json.statusCode }) }}",
        "options": {}
      }
    },
    {
      "id": "bb000100-0000-4000-8000-000000000100",
      "name": "Webhook: Kanban Metrics",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -620
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kanban-metrics",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "82e0cadf-6c79-4dd7-bf02-6ef53d3070d4"
    },
    {
      "id": "bb000101-0000-4000-8000-000000000101",
      "name": "Code: Prepare Metrics Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -620
      ],
      "parameters": {
        "jsCode": "const source = ($json.body && Object.keys($json.body).length ? $json.body : ($json.query ?? {}));\nconst issueTypes = ['User Story', 'Задача', 'Ошибка', 'Техдолг', 'BUSINESS SUB-TASK', 'Подзадача'];\nconst statuses = ['Бэклог', 'Анализ', 'Готово к анализу', 'Готово к разработке', 'Готово к проработке'];\nconst defaultLabel = 'Партнерские_Интеграции';\nconst project = typeof source.project === 'string' ? source.project.trim() : '';\nconst customJqlRaw = typeof source.customJql === 'string' ? source.customJql : (typeof source.jql === 'string' ? source.jql : '');\nconst customJql = customJqlRaw.trim();\n\nlet jql;\nlet cacheKeySource;\n\nif (customJql) {\n  jql = customJql;\n  cacheKeySource = `jql:${customJql}`;\n} else {\n  const normalizedProject = project || 'CREDITS';\n  const issueTypeClause = issueTypes.map((type) => `\"${type}\"`).join(', ');\n  const statusClause = statuses.map((status) => `\"${status}\"`).join(', ');\n  jql = `project = ${normalizedProject} AND issuetype in (${issueTypeClause}) AND status in (${statusClause}) AND labels = ${defaultLabel} ORDER BY created ASC`;\n  cacheKeySource = `project:${normalizedProject}`;\n}\n\nreturn [{ json: { jql, cacheKey: `metrics:${cacheKeySource}`, ttlMs: 10 * 60 * 1000 } }];"
      }
    },
    {
      "id": "bb000102-0000-4000-8000-000000000102",
      "name": "Code: Metrics Cache Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        -620
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst key = $json.cacheKey;\nconst ttlMs = Number($json.ttlMs ?? 600000);\nconst now = Date.now();\nconst cached = staticData[key];\n\nif (cached && Array.isArray(cached.issues) && Number(cached.expiresAt) > now) {\n  return [{\n    json: {\n      cacheHit: true,\n      issues: cached.issues,\n      meta: {\n        total: cached.issues.length,\n        fetchedAt: cached.fetchedAt,\n        cached: true,\n        cacheKey: key,\n        expiresAt: cached.expiresAt,\n      },\n    },\n  }];\n}\n\nreturn [{ json: { cacheHit: false, jql: $json.jql, cacheKey: key, ttlMs } }];"
      }
    },
    {
      "id": "bb000103-0000-4000-8000-000000000103",
      "name": "If: Metrics Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        -620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-cache-hit",
              "leftValue": "={{ $json.cacheHit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bb000104-0000-4000-8000-000000000104",
      "name": "Jira: Fetch Metrics Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1240,
        -520
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "expand": [
            "changelog"
          ],
          "fields": "summary,issuetype,created,status",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000105-0000-4000-8000-000000000105",
      "name": "Code: Build Metrics Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        -520
      ],
      "parameters": {
        "jsCode": "const cacheInput = $('Code: Metrics Cache Lookup').first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst issues = [];\n\nfor (const item of $input.all()) {\n  const issue = item.json;\n  const fields = issue.fields ?? {};\n  const histories = Array.isArray(issue.changelog?.histories) ? [...issue.changelog.histories] : [];\n  histories.sort((a, b) => new Date(a.created).getTime() - new Date(b.created).getTime());\n\n  const transitions = [];\n\n  const firstStatusHistory = histories.find((history) => Array.isArray(history.items) && history.items.some((change) => change.field === 'status'));\n  if (firstStatusHistory) {\n    const firstStatusChange = firstStatusHistory.items.find((change) => change.field === 'status');\n    if (firstStatusChange?.fromString) {\n      transitions.push({\n        to: firstStatusChange.fromString,\n        date: fields.created,\n      });\n    }\n  }\n\n  for (const history of histories) {\n    for (const change of history.items ?? []) {\n      if (change.field !== 'status' || !change.toString || !history.created) continue;\n      transitions.push({\n        to: change.toString,\n        date: history.created,\n        from: change.fromString ?? undefined,\n      });\n    }\n  }\n\n  issues.push({\n    key: issue.key,\n    summary: fields.summary ?? '',\n    type: fields.issuetype?.name ?? 'Unknown',\n    created: fields.created ?? '',\n    currentStatus: fields.status?.name ?? '',\n    transitions,\n  });\n}\n\nconst fetchedAt = new Date().toISOString();\nconst expiresAt = Date.now() + Number(cacheInput.ttlMs ?? 600000);\nstaticData[cacheInput.cacheKey] = { issues, fetchedAt, expiresAt };\n\nreturn [{\n  json: {\n    issues,\n    meta: {\n      total: issues.length,\n      fetchedAt,\n      cached: false,\n      cacheKey: cacheInput.cacheKey,\n      expiresAt,\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000106-0000-4000-8000-000000000106",
      "name": "Respond: Metrics",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1720,
        -620
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bb000107-0000-4000-8000-000000000107",
      "name": "Code: Issues List Cache Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        60
      ],
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\nconst refreshRaw = String(query.refresh ?? '').trim().toLowerCase();\nconst refreshRequested = ['1', 'true', 'yes'].includes(refreshRaw);\nconst project = typeof query.project === 'string' ? query.project.trim() : '';\nconst customJql = typeof query.jql === 'string' ? query.jql.trim() : '';\n\nreturn [{\n  json: {\n    query,\n    project,\n    customJql,\n    refreshRequested,\n  },\n}];"
      }
    },
    {
      "id": "bb000108-0000-4000-8000-000000000108",
      "name": "If: Issues List Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        920,
        60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-issues-refresh",
              "leftValue": "={{ $json.refreshRequested }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bb000109-0000-4000-8000-000000000109",
      "name": "Code: Cache Issues List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -100
      ],
      "parameters": {
        "jsCode": "const issues = $input.all().map(({ json }) => json);\nreturn [{\n  json: {\n    issues,\n    meta: {\n      fetchedAt: new Date().toISOString(),\n      cached: false,\n      source: 'jira+datatable',\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000110-0000-4000-8000-000000000110",
      "name": "Respond: Cached List Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1780,
        -20
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bb000111-0000-4000-8000-000000000111",
      "name": "Code: Build Refresh List JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1472
      ],
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\n\nlet jql;\nif (typeof $json.jql === 'string' && $json.jql.trim()) {\n  jql = $json.jql.trim();\n} else if (query.jql) {\n  jql = query.jql;\n} else if (query.project) {\n  jql = 'project = ' + query.project + ' AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") ORDER BY created ASC';\n} else {\n  jql = 'project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции';\n}\n\nreturn [{ json: { ...$json, jql } }];"
      }
    },
    {
      "id": "bb000112-0000-4000-8000-000000000112",
      "name": "Jira: Refresh List Issues by JQL",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1360,
        1472
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fields": "summary,description,status,priority,issuetype,labels",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000113-0000-4000-8000-000000000113",
      "name": "DataTable: Upsert Refreshed List",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        1472
      ],
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.fields.summary }}",
            "key": "={{ $json.key }}",
            "labels": "={{ ($json.fields.labels ?? []).join(', ') }}",
            "priority": "={{ $json.fields.priority?.name ?? \"\" }}",
            "status": "={{ $json.fields.status?.name ?? \"\" }}",
            "issue_type": "={{ $json.fields.issuetype?.name ?? \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issue_type",
              "displayName": "issue_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "labels",
              "displayName": "labels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "impact",
              "displayName": "impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "effort",
              "displayName": "effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rice_score",
              "displayName": "rice_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_risk",
              "displayName": "bug_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_process",
              "displayName": "bug_process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_scale",
              "displayName": "bug_scale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_workaround",
              "displayName": "bug_workaround",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_score",
              "displayName": "bug_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_impact",
              "displayName": "td_impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_effort",
              "displayName": "td_effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_roi",
              "displayName": "td_roi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "bb000114-0000-4000-8000-000000000114",
      "name": "DataTable: Get Refreshed Scores",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1872,
        1472
      ],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "key"
      }
    },
    {
      "id": "bb000115-0000-4000-8000-000000000115",
      "name": "Code: Format Refreshed List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1472
      ],
      "parameters": {
        "jsCode": "const jiraIssues = $('Jira: Refresh List Issues by JQL').all();\nconst scoreRows = $('DataTable: Get Refreshed Scores').all();\nconst scoreByKey = new Map(scoreRows.map(({ json }) => [json.key, json]));\nconst now = new Date().toISOString();\n\nconst issues = jiraIssues.map(({ json }) => {\n  const fields = json.fields ?? {};\n  const score = scoreByKey.get(json.key) ?? {};\n  const riceScore = score.rice_score ?? null;\n  const bugScore = score.bug_score ?? null;\n  const tdRoi = score.td_roi ?? null;\n\n  return {\n    key: json.key ?? 'Неизвестно',\n    summary: fields.summary ?? json.summary ?? score.summary ?? '',\n    description: fields.description ?? json.description ?? score.description ?? '',\n    status: fields.status?.name ?? json.status ?? score.status ?? '',\n    priority: fields.priority?.name ?? json.priority ?? score.priority ?? '',\n    issuetype: fields.issuetype?.name ?? json.issuetype ?? json.issue_type ?? score.issue_type ?? '',\n    reach: score.reach ?? null,\n    impact: score.impact ?? null,\n    confidence: score.confidence ?? null,\n    effort: score.effort ?? null,\n    rice_score: riceScore,\n    bug_risk: score.bug_risk ?? null,\n    bug_process: score.bug_process ?? null,\n    bug_scale: score.bug_scale ?? null,\n    bug_workaround: score.bug_workaround ?? null,\n    bug_score: bugScore,\n    td_impact: score.td_impact ?? null,\n    td_effort: score.td_effort ?? null,\n    td_roi: tdRoi,\n    score: riceScore ?? bugScore ?? tdRoi ?? null,\n  };\n});\n\nreturn [{\n  json: {\n    issues,\n    meta: {\n      fetchedAt: now,\n      syncedAt: now,\n      cached: false,\n      source: 'jira-refresh+datatable',\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000116-0000-4000-8000-000000000116",
      "name": "Respond: Refreshed List Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2368,
        1472
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bb000117-0000-4000-8000-000000000117",
      "name": "Webhook: Issue Scoring",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        1920
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "jira/issues/scoring",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "jira-issues-scoring-webhook"
    },
    {
      "id": "bb000118-0000-4000-8000-000000000118",
      "name": "Code: Validate Scoring Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1920
      ],
      "parameters": {
        "jsCode": "const source = $json.body ?? {};\nif (!Array.isArray(source.updates)) {\n  return [{\n    json: {\n      valid: false,\n      error: 'Expected body.updates to be an array',\n      skipped: [],\n      updates: [],\n    },\n  }];\n}\n\nconst numericFields = [\n  'reach', 'impact', 'confidence', 'effort', 'rice_score',\n  'bug_risk', 'bug_process', 'bug_scale', 'bug_workaround', 'bug_score',\n  'td_impact', 'td_effort', 'td_roi',\n];\n\nconst updates = [];\nconst skipped = [];\n\nfor (const raw of source.updates) {\n  if (!raw || typeof raw !== 'object') {\n    skipped.push({ key: '', reason: 'Invalid update item' });\n    continue;\n  }\n\n  const key = typeof raw.key === 'string' ? raw.key.trim() : '';\n  if (!key) {\n    skipped.push({ key: '', reason: 'Missing key' });\n    continue;\n  }\n\n  const normalized = { key };\n  for (const field of numericFields) {\n    const value = raw[field];\n    normalized[field] = typeof value === 'number' && Number.isFinite(value) ? value : null;\n  }\n  updates.push(normalized);\n}\n\nif (!updates.length) {\n  return [{\n    json: {\n      valid: false,\n      error: skipped.length ? 'No valid updates provided' : 'No updates provided',\n      skipped,\n      updates: [],\n    },\n  }];\n}\n\nreturn [{ json: { valid: true, updates, skipped } }];"
      }
    },
    {
      "id": "bb000119-0000-4000-8000-000000000119",
      "name": "If: Scoring Payload Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        1920
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-scoring-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bb000120-0000-4000-8000-000000000120",
      "name": "DataTable: Existing Score Rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1360,
        1808
      ],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "key"
      }
    },
    {
      "id": "bb000121-0000-4000-8000-000000000121",
      "name": "Split Out: Scoring Updates",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        2032
      ],
      "parameters": {
        "fieldToSplitOut": "updates",
        "options": {}
      }
    },
    {
      "id": "bb000122-0000-4000-8000-000000000122",
      "name": "DataTable: Upsert Scoring Rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        2032
      ],
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{ $json.key }}",
            "reach": "={{ $json.reach }}",
            "impact": "={{ $json.impact }}",
            "confidence": "={{ $json.confidence }}",
            "effort": "={{ $json.effort }}",
            "rice_score": "={{ $json.rice_score }}",
            "bug_risk": "={{ $json.bug_risk }}",
            "bug_process": "={{ $json.bug_process }}",
            "bug_scale": "={{ $json.bug_scale }}",
            "bug_workaround": "={{ $json.bug_workaround }}",
            "bug_score": "={{ $json.bug_score }}",
            "td_impact": "={{ $json.td_impact }}",
            "td_effort": "={{ $json.td_effort }}",
            "td_roi": "={{ $json.td_roi }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issue_type",
              "displayName": "issue_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "labels",
              "displayName": "labels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "impact",
              "displayName": "impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "effort",
              "displayName": "effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rice_score",
              "displayName": "rice_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_risk",
              "displayName": "bug_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_process",
              "displayName": "bug_process",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_scale",
              "displayName": "bug_scale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_workaround",
              "displayName": "bug_workaround",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bug_score",
              "displayName": "bug_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_impact",
              "displayName": "td_impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_effort",
              "displayName": "td_effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "td_roi",
              "displayName": "td_roi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    },
    {
      "id": "bb000123-0000-4000-8000-000000000123",
      "name": "Code: Summarize Scoring Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        2032
      ],
      "parameters": {
        "jsCode": "const existingRows = $('DataTable: Existing Score Rows').all();\nconst existingKeys = new Set(existingRows.map(({ json }) => json.key).filter((key) => typeof key === 'string' && key));\nconst payload = $('Code: Validate Scoring Updates').first().json;\nconst created = [];\nconst updated = [];\n\nfor (const item of payload.updates ?? []) {\n  if (!item?.key) continue;\n  if (existingKeys.has(item.key)) updated.push(item.key);\n  else created.push(item.key);\n}\n\nreturn [{\n  json: {\n    updated,\n    created,\n    skipped: payload.skipped ?? [],\n    meta: {\n      savedAt: new Date().toISOString(),\n      source: 'jira-issues-scoring',\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000124-0000-4000-8000-000000000124",
      "name": "Respond: Issue Scoring Saved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2128,
        2032
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bb000125-0000-4000-8000-000000000125",
      "name": "Code: Format Scoring Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1696
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: $json.error ?? 'Invalid scoring payload',\n    skipped: $json.skipped ?? [],\n    meta: {\n      savedAt: new Date().toISOString(),\n      source: 'jira-issues-scoring',\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000126-0000-4000-8000-000000000126",
      "name": "Respond: Issue Scoring Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1616,
        1696
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch: Route GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Map Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Map Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route GET": {
      "main": [
        [
          {
            "node": "Jira: Get Single Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Issues List Cache Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Get Single Issue": {
      "main": [
        [
          {
            "node": "Code: Format Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Detail": {
      "main": [
        [
          {
            "node": "Respond: Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build List JQL": {
      "main": [
        [
          {
            "node": "Jira: Get List Issues by JQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable: RICE Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Get List Issues by JQL": {
      "main": [
        [
          {
            "node": "Merge: List + Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable: RICE Scores": {
      "main": [
        [
          {
            "node": "Merge: List + Scores",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: List + Scores": {
      "main": [
        [
          {
            "node": "Code: Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format List Response": {
      "main": [
        [
          {
            "node": "Code: Cache Issues List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Map Create": {
      "main": [
        [
          {
            "node": "HTTP: Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Issue": {
      "main": [
        [
          {
            "node": "Respond: Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Map Update": {
      "main": [
        [
          {
            "node": "HTTP: Update Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Issue": {
      "main": [
        [
          {
            "node": "Respond: Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Kanban Metrics": {
      "main": [
        [
          {
            "node": "Code: Prepare Metrics Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Metrics Request": {
      "main": [
        [
          {
            "node": "Code: Metrics Cache Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Metrics Cache Lookup": {
      "main": [
        [
          {
            "node": "If: Metrics Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Metrics Cache Hit": {
      "main": [
        [
          {
            "node": "Respond: Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira: Fetch Metrics Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Fetch Metrics Issues": {
      "main": [
        [
          {
            "node": "Code: Build Metrics Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Metrics Response": {
      "main": [
        [
          {
            "node": "Respond: Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Issues List Cache Lookup": {
      "main": [
        [
          {
            "node": "If: Issues List Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Issues List Cache Hit": {
      "main": [
        [
          {
            "node": "Code: Build Refresh List JQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Build List JQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Cache Issues List Response": {
      "main": [
        [
          {
            "node": "Respond: Cached List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Refresh List JQL": {
      "main": [
        [
          {
            "node": "Jira: Refresh List Issues by JQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Refresh List Issues by JQL": {
      "main": [
        [
          {
            "node": "DataTable: Upsert Refreshed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable: Upsert Refreshed List": {
      "main": [
        [
          {
            "node": "DataTable: Get Refreshed Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable: Get Refreshed Scores": {
      "main": [
        [
          {
            "node": "Code: Format Refreshed List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Refreshed List Response": {
      "main": [
        [
          {
            "node": "Respond: Refreshed List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Issue Scoring": {
      "main": [
        [
          {
            "node": "Code: Validate Scoring Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Scoring Updates": {
      "main": [
        [
          {
            "node": "If: Scoring Payload Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Scoring Payload Valid": {
      "main": [
        [
          {
            "node": "DataTable: Existing Score Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out: Scoring Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Format Scoring Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: Scoring Updates": {
      "main": [
        [
          {
            "node": "DataTable: Upsert Scoring Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable: Upsert Scoring Rows": {
      "main": [
        [
          {
            "node": "Code: Summarize Scoring Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Summarize Scoring Save": {
      "main": [
        [
          {
            "node": "Respond: Issue Scoring Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Scoring Error": {
      "main": [
        [
          {
            "node": "Respond: Issue Scoring Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166a83f3b5979b833d91a82f993d0ab73b3eaf47ab8ca6dca2eb8a3d37458905"
  },
  "tags": []
}
