info/PM Helper Webhook (optimized).json
{
  "name": "PM Helper Webhook",
  "nodes": [
    {
      "id": "ca4b4cc4-97cb-4928-b25a-4fd01c497a75",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "multipleMethods": true,
        "httpMethod": ["GET", "POST", "PATCH"],
        "path": "jira/issues",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a05fc339-af3e-434b-b1a3-01a3d04300ca"
    },
    {
      "id": "bb000001-0000-4000-8000-000000000001",
      "name": "Switch: Route GET",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [260, -200],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-has-key",
                    "leftValue": "={{ $json.query.key }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "detail"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "bb000002-0000-4000-8000-000000000002",
      "name": "Jira: Get Single Issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [520, -400],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "get",
        "issueKey": "={{ $json.query.key }}",
        "additionalFields": {
          "fields": "summary,description,status,priority,assignee,reporter,creator,created,updated,comment,issuetype,project,labels,attachment,customfield_19878,customfield_22700,customfield_21219,customfield_19879"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000003-0000-4000-8000-000000000003",
      "name": "Code: Format Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, -400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst fields = item.fields ?? {};\n\nconst comments = (fields.comment?.comments ?? []).map(c => ({\n  author: c.author?.displayName ?? 'Неизвестно',\n  body: c.body,\n  created: c.created,\n}));\n\nconst attachments = (fields.attachment ?? []).map(a => ({\n  filename: a.filename,\n  mimeType: a.mimeType,\n  url: a.content,\n}));\n\nreturn [{\n  json: {\n    key: item.key,\n    summary: fields.summary,\n    description: fields.description,\n    status: fields.status?.name,\n    priority: fields.priority?.name,\n    issuetype: fields.issuetype?.name,\n    project: fields.project?.name,\n    assignee: fields.assignee?.displayName ?? null,\n    reporter: fields.reporter?.displayName ?? null,\n    labels: fields.labels ?? [],\n    created: fields.created,\n    updated: fields.updated,\n    comments,\n    attachments_info: attachments,\n    checklists: fields.customfield_19878,\n    needToUpdateSource: fields.customfield_19879?.value === 'Да',\n    slService: fields.customfield_21219?.[0],\n    productCatalog: fields.customfield_22700?.[0],\n  },\n}];"
      }
    },
    {
      "id": "bb000004-0000-4000-8000-000000000004",
      "name": "Respond: Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1040, -400],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": "issues"
        }
      }
    },
    {
      "id": "bb000005-0000-4000-8000-000000000005",
      "name": "Code: Build JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, -200],
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\n\nlet jql;\nif (query.jql) {\n  // Произвольный JQL из запроса (?jql=...)\n  jql = query.jql;\n} else if (query.project) {\n  // Фильтр по ключу проекта (?project=CREDITS)\n  jql = 'project = ' + query.project + ' AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") ORDER BY created ASC';\n} else {\n  // Дефолтный запрос — обратная совместимость\n  jql = 'project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции';\n}\n\nreturn [{ json: { jql } }];"
      }
    },
    {
      "id": "bb000006-0000-4000-8000-000000000006",
      "name": "Jira: Get Issues by JQL",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [780, -200],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fields": "summary,description,status,priority,issuetype",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "e51c6e79-331e-49da-9bd3-331c2d7eeecf",
      "name": "DataTable: RICE Scores",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [780, 0],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "key"
      }
    },
    {
      "id": "d9ec3576-ec8e-443f-9864-e83f221cb940",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1040, -100],
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "key",
        "options": {
          "disableDotNotation": false
        }
      }
    },
    {
      "id": "bb000007-0000-4000-8000-000000000007",
      "name": "Code: Format List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, -100],
      "parameters": {
        "jsCode": "return $input.all().map(({ json }) => ({\n  json: {\n    key: json.key ?? 'Неизвестно',\n    summary: json.fields?.summary ?? json.summary,\n    description: json.fields?.description ?? json.description,\n    status: json.fields?.status?.name ?? json.status,\n    priority: json.fields?.priority?.name ?? json.priority,\n    issuetype: json.fields?.issuetype?.name ?? json.issuetype,\n    score: json.rice_score ?? json.bug_score ?? json.td_roi ?? null,\n  },\n}));"
      }
    },
    {
      "id": "bb000008-0000-4000-8000-000000000008",
      "name": "Respond: List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1560, -100],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": "issues"
        }
      }
    },
    {
      "id": "bb000009-0000-4000-8000-000000000009",
      "name": "Code: Map Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\nreturn {\n  json: {\n    summary:            body.summary,\n    description:        body.description,\n    issuetype:          body.issuetype,\n    priority:           priorityMap[body.priority] ?? body.priority,\n    labels:             body.labels,\n    slService:          body.slService,\n    productCatalog:     body.productCatalog,\n    needToUpdateSource: body.needToUpdateSource,\n    checklists:         body.checklists,\n  },\n};"
      }
    },
    {
      "id": "bb00000a-0000-4000-8000-000000000010",
      "name": "HTTP: Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [520, 200],
      "parameters": {
        "method": "POST",
        "url": "https://jira.tochka.com/rest/api/2/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"fields\": {\n    \"project\":     { \"key\": \"CREDITS\" },\n    \"summary\":     $json.summary,\n    \"description\": $json.description,\n    \"issuetype\":   { \"name\": $json.issuetype },\n    \"priority\":    { \"id\": $json.priority },\n    ...($json.labels?.length     ? { \"labels\": $json.labels } : {}),\n    ...($json.slService          ? { \"customfield_21219\": [$json.slService] } : {}),\n    ...($json.productCatalog     ? { \"customfield_22700\": [$json.productCatalog] } : {}),\n    ...($json.needToUpdateSource ? { \"customfield_19879\": { \"value\": $json.needToUpdateSource } } : {}),\n    ...($json.checklists?.length ? { \"customfield_19878\": Array.isArray($json.checklists) ? $json.checklists : [$json.checklists] } : {})\n  }\n} }}",
        "options": {}
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000b-0000-4000-8000-000000000011",
      "name": "Respond: Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [780, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'created', key: $json.key }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "bb00000c-0000-4000-8000-000000000012",
      "name": "Code: Map Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 400],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body  = $json.body ?? {};\nconst key   = $json.query?.key;\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\n// Собираем только те поля, которые реально пришли в теле запроса\nconst fields = {\n  ...('summary'     in body ? { summary:     body.summary }     : {}),\n  ...('description' in body ? { description: body.description } : {}),\n  ...('priority'    in body ? { priority: { id: priorityMap[body.priority] ?? body.priority } } : {}),\n  ...('labels'      in body ? { labels:       body.labels }      : {}),\n  ...('checklists'  in body ? { customfield_19878: Array.isArray(body.checklists) ? body.checklists : [body.checklists] } : {}),\n  ...(body.slService          ? { customfield_21219: [body.slService] }                  : {}),\n  ...(body.productCatalog     ? { customfield_22700: [body.productCatalog] }             : {}),\n  ...(body.needToUpdateSource !== undefined ? { customfield_19879: { value: body.needToUpdateSource || 'Нет' } } : {}),\n};\n\nreturn { json: { key, fields } };"
      }
    },
    {
      "id": "bb00000d-0000-4000-8000-000000000013",
      "name": "HTTP: Update Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [520, 400],
      "parameters": {
        "method": "PUT",
        "url": "=https://jira.tochka.com/rest/api/2/issue/{{ $json.key }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"fields\": $json.fields } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000e-0000-4000-8000-000000000014",
      "name": "Respond: Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [780, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ key: $('Code: Map Update').item.json.key, status: 'updated', code: $json.statusCode }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Switch: Route GET",  "type": "main", "index": 0 }],
        [{ "node": "Code: Map Create",   "type": "main", "index": 0 }],
        [{ "node": "Code: Map Update",   "type": "main", "index": 0 }]
      ]
    },
    "Switch: Route GET": {
      "main": [
        [{ "node": "Jira: Get Single Issue", "type": "main", "index": 0 }],
        [{ "node": "Code: Build JQL",        "type": "main", "index": 0 }]
      ]
    },
    "Jira: Get Single Issue": {
      "main": [
        [{ "node": "Code: Format Detail", "type": "main", "index": 0 }]
      ]
    },
    "Code: Format Detail": {
      "main": [
        [{ "node": "Respond: Detail", "type": "main", "index": 0 }]
      ]
    },
    "Code: Build JQL": {
      "main": [
        [
          { "node": "Jira: Get Issues by JQL", "type": "main", "index": 0 },
          { "node": "DataTable: RICE Scores",   "type": "main", "index": 0 }
        ]
      ]
    },
    "Jira: Get Issues by JQL": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "DataTable: RICE Scores": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 1 }]
      ]
    },
    "Merge": {
      "main": [
        [{ "node": "Code: Format List", "type": "main", "index": 0 }]
      ]
    },
    "Code: Format List": {
      "main": [
        [{ "node": "Respond: List", "type": "main", "index": 0 }]
      ]
    },
    "Code: Map Create": {
      "main": [
        [{ "node": "HTTP: Create Issue", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Create Issue": {
      "main": [
        [{ "node": "Respond: Created", "type": "main", "index": 0 }]
      ]
    },
    "Code: Map Update": {
      "main": [
        [{ "node": "HTTP: Update Issue", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Update Issue": {
      "main": [
        [{ "node": "Respond: Updated", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166a83f3b5979b833d91a82f993d0ab73b3eaf47ab8ca6dca2eb8a3d37458905"
  },
  "id": "Ds9DCREg8Ykze6J5rsFkW",
  "tags": []
}
