info/PM Helper Webhook Unified (import-ready).json
{
  "name": "PM Helper Webhook Unified",
  "nodes": [
    {
      "id": "ca4b4cc4-97cb-4928-b25a-4fd01c497a75",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "PATCH"
        ],
        "path": "jira/issues",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "a05fc339-af3e-434b-b1a3-01a3d04300ca"
    },
    {
      "id": "bb000001-0000-4000-8000-000000000001",
      "name": "Switch: Route GET",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        260,
        -200
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-has-key",
                    "leftValue": "={{ $json.query.key }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "detail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-has-project",
                    "leftValue": "={{ $json.query.project }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  },
                  {
                    "id": "rule-has-jql",
                    "leftValue": "={{ $json.query.jql }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "metrics"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "bb000002-0000-4000-8000-000000000002",
      "name": "Jira: Get Single Issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        520,
        -400
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "get",
        "issueKey": "={{ $json.query.key }}",
        "additionalFields": {
          "fields": "summary,description,status,priority,assignee,reporter,creator,created,updated,comment,issuetype,project,labels,attachment,customfield_19878,customfield_22700,customfield_21219,customfield_19879"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000003-0000-4000-8000-000000000003",
      "name": "Code: Format Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -400
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst fields = item.fields ?? {};\n\nconst comments = (fields.comment?.comments ?? []).map(c => ({\n  author: c.author?.displayName ?? 'Неизвестно',\n  body: c.body,\n  created: c.created,\n}));\n\nconst attachments = (fields.attachment ?? []).map(a => ({\n  filename: a.filename,\n  mimeType: a.mimeType,\n  url: a.content,\n}));\n\nreturn [{\n  json: {\n    key: item.key,\n    summary: fields.summary,\n    description: fields.description,\n    status: fields.status?.name,\n    priority: fields.priority?.name,\n    issuetype: fields.issuetype?.name,\n    project: fields.project?.name,\n    assignee: fields.assignee?.displayName ?? null,\n    reporter: fields.reporter?.displayName ?? null,\n    labels: fields.labels ?? [],\n    created: fields.created,\n    updated: fields.updated,\n    comments,\n    attachments_info: attachments,\n    checklists: fields.customfield_19878,\n    needToUpdateSource: fields.customfield_19879?.value === 'Да',\n    slService: fields.customfield_21219?.[0],\n    productCatalog: fields.customfield_22700?.[0],\n  },\n}];"
      }
    },
    {
      "id": "bb000004-0000-4000-8000-000000000004",
      "name": "Respond: Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1040,
        -400
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": "issues"
        }
      }
    },
    {
      "id": "bb000005-0000-4000-8000-000000000005",
      "name": "Code: Build List JQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -200
      ],
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\n\nlet jql;\nif (query.jql) {\n  // Произвольный JQL из запроса (?jql=...)\n  jql = query.jql;\n} else if (query.project) {\n  // Фильтр по ключу проекта (?project=CREDITS)\n  jql = 'project = ' + query.project + ' AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") ORDER BY created ASC';\n} else {\n  // Дефолтный запрос — обратная совместимость\n  jql = 'project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции';\n}\n\nreturn [{ json: { jql } }];"
      }
    },
    {
      "id": "bb000006-0000-4000-8000-000000000006",
      "name": "Jira: Get List Issues by JQL",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        780,
        -200
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fields": "summary,description,status,priority,issuetype",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "e51c6e79-331e-49da-9bd3-331c2d7eeecf",
      "name": "DataTable: RICE Scores",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        780,
        0
      ],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "key"
      }
    },
    {
      "id": "d9ec3576-ec8e-443f-9864-e83f221cb940",
      "name": "Merge: List + Scores",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -100
      ],
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "key",
        "options": {
          "disableDotNotation": false
        }
      }
    },
    {
      "id": "bb000007-0000-4000-8000-000000000007",
      "name": "Code: Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -100
      ],
      "parameters": {
        "jsCode": "return $input.all().map(({ json }) => ({\n  json: {\n    key: json.key ?? 'Неизвестно',\n    summary: json.fields?.summary ?? json.summary,\n    description: json.fields?.description ?? json.description,\n    status: json.fields?.status?.name ?? json.status,\n    priority: json.fields?.priority?.name ?? json.priority,\n    issuetype: json.fields?.issuetype?.name ?? json.issuetype ?? json.issue_type,\n    reach: json.reach ?? null,\n    impact: json.impact ?? null,\n    confidence: json.confidence ?? null,\n    effort: json.effort ?? null,\n    rice_score: json.rice_score ?? null,\n    bug_risk: json.bug_risk ?? null,\n    bug_process: json.bug_process ?? null,\n    bug_scale: json.bug_scale ?? null,\n    bug_workaround: json.bug_workaround ?? null,\n    bug_score: json.bug_score ?? null,\n    td_impact: json.td_impact ?? null,\n    td_effort: json.td_effort ?? null,\n    td_roi: json.td_roi ?? null,\n    score: json.rice_score ?? json.bug_score ?? json.td_roi ?? null,\n  },\n}));"
      }
    },
    {
      "id": "bb000009-0000-4000-8000-000000000009",
      "name": "Code: Map Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        200
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body ?? {};\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\nreturn {\n  json: {\n    summary:            body.summary,\n    description:        body.description,\n    issuetype:          body.issuetype,\n    priority:           priorityMap[body.priority] ?? body.priority,\n    labels:             body.labels,\n    slService:          body.slService,\n    productCatalog:     body.productCatalog,\n    needToUpdateSource: body.needToUpdateSource,\n    checklists:         body.checklists,\n  },\n};"
      }
    },
    {
      "id": "bb00000a-0000-4000-8000-000000000010",
      "name": "HTTP: Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://jira.tochka.com/rest/api/2/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"fields\": {\n    \"project\":     { \"key\": \"CREDITS\" },\n    \"summary\":     $json.summary,\n    \"description\": $json.description,\n    \"issuetype\":   { \"name\": $json.issuetype },\n    \"priority\":    { \"id\": $json.priority },\n    ...($json.labels?.length     ? { \"labels\": $json.labels } : {}),\n    ...($json.slService          ? { \"customfield_21219\": [$json.slService] } : {}),\n    ...($json.productCatalog     ? { \"customfield_22700\": [$json.productCatalog] } : {}),\n    ...($json.needToUpdateSource ? { \"customfield_19879\": { \"value\": $json.needToUpdateSource } } : {}),\n    ...($json.checklists?.length ? { \"customfield_19878\": Array.isArray($json.checklists) ? $json.checklists : [$json.checklists] } : {})\n  }\n} }}",
        "options": {}
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000b-0000-4000-8000-000000000011",
      "name": "Respond: Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'created', key: $json.key }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "bb00000c-0000-4000-8000-000000000012",
      "name": "Code: Map Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body  = $json.body ?? {};\nconst key   = $json.query?.key;\n\nconst priorityMap = {\n  'Неотложный': '1',\n  'Срочный':    '2',\n  'Высокий':    '3',\n  'Низкий':     '4',\n  'Нормальный': '5',\n  'Средний':    '10000',\n  'Незначительный': '10001',\n};\n\n// Собираем только те поля, которые реально пришли в теле запроса\nconst fields = {\n  ...('summary'     in body ? { summary:     body.summary }     : {}),\n  ...('description' in body ? { description: body.description } : {}),\n  ...('priority'    in body ? { priority: { id: priorityMap[body.priority] ?? body.priority } } : {}),\n  ...('labels'      in body ? { labels:       body.labels }      : {}),\n  ...('checklists'  in body ? { customfield_19878: Array.isArray(body.checklists) ? body.checklists : [body.checklists] } : {}),\n  ...(body.slService          ? { customfield_21219: [body.slService] }                  : {}),\n  ...(body.productCatalog     ? { customfield_22700: [body.productCatalog] }             : {}),\n  ...(body.needToUpdateSource !== undefined ? { customfield_19879: { value: body.needToUpdateSource || 'Нет' } } : {}),\n};\n\nreturn { json: { key, fields } };"
      }
    },
    {
      "id": "bb00000d-0000-4000-8000-000000000013",
      "name": "HTTP: Update Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://jira.tochka.com/rest/api/2/issue/{{ $json.key }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareServerPatApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"fields\": $json.fields } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb00000e-0000-4000-8000-000000000014",
      "name": "Respond: Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ key: $('Code: Map Update').item.json.key, status: 'updated', code: $json.statusCode }) }}",
        "options": {}
      }
    },
    {
      "id": "bb000100-0000-4000-8000-000000000100",
      "name": "Webhook: Kanban Metrics",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -620
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kanban-metrics",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "webhookId": "82e0cadf-6c79-4dd7-bf02-6ef53d3070d4"
    },
    {
      "id": "bb000101-0000-4000-8000-000000000101",
      "name": "Code: Prepare Metrics Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -620
      ],
      "parameters": {
        "jsCode": "const source = ($json.body && Object.keys($json.body).length ? $json.body : ($json.query ?? {}));\nconst issueTypes = ['User Story', 'Задача', 'Ошибка', 'Техдолг', 'BUSINESS SUB-TASK', 'Подзадача'];\nconst statuses = ['Бэклог', 'Анализ', 'Готово к анализу', 'Готово к разработке', 'Готово к проработке'];\nconst defaultLabel = 'Партнерские_Интеграции';\nconst project = typeof source.project === 'string' ? source.project.trim() : '';\nconst customJqlRaw = typeof source.customJql === 'string' ? source.customJql : (typeof source.jql === 'string' ? source.jql : '');\nconst customJql = customJqlRaw.trim();\n\nlet jql;\nlet cacheKeySource;\n\nif (customJql) {\n  jql = customJql;\n  cacheKeySource = `jql:${customJql}`;\n} else {\n  const normalizedProject = project || 'CREDITS';\n  const issueTypeClause = issueTypes.map((type) => `\"${type}\"`).join(', ');\n  const statusClause = statuses.map((status) => `\"${status}\"`).join(', ');\n  jql = `project = ${normalizedProject} AND issuetype in (${issueTypeClause}) AND status in (${statusClause}) AND labels = ${defaultLabel} ORDER BY created ASC`;\n  cacheKeySource = `project:${normalizedProject}`;\n}\n\nreturn [{ json: { jql, cacheKey: `metrics:${cacheKeySource}`, ttlMs: 10 * 60 * 1000 } }];"
      }
    },
    {
      "id": "bb000102-0000-4000-8000-000000000102",
      "name": "Code: Metrics Cache Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        -620
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst key = $json.cacheKey;\nconst ttlMs = Number($json.ttlMs ?? 600000);\nconst now = Date.now();\nconst cached = staticData[key];\n\nif (cached && Array.isArray(cached.issues) && Number(cached.expiresAt) > now) {\n  return [{\n    json: {\n      cacheHit: true,\n      issues: cached.issues,\n      meta: {\n        total: cached.issues.length,\n        fetchedAt: cached.fetchedAt,\n        cached: true,\n        cacheKey: key,\n        expiresAt: cached.expiresAt,\n      },\n    },\n  }];\n}\n\nreturn [{ json: { cacheHit: false, jql: $json.jql, cacheKey: key, ttlMs } }];"
      }
    },
    {
      "id": "bb000103-0000-4000-8000-000000000103",
      "name": "If: Metrics Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        -620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-cache-hit",
              "leftValue": "={{ $json.cacheHit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bb000104-0000-4000-8000-000000000104",
      "name": "Jira: Fetch Metrics Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1240,
        -520
      ],
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "expand": [
            "changelog"
          ],
          "fields": "summary,issuetype,created,status",
          "jql": "={{ $json.jql }}"
        }
      },
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "id": "bb000105-0000-4000-8000-000000000105",
      "name": "Code: Build Metrics Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        -520
      ],
      "parameters": {
        "jsCode": "const cacheInput = $('Code: Metrics Cache Lookup').first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst issues = [];\n\nfor (const item of $input.all()) {\n  const issue = item.json;\n  const fields = issue.fields ?? {};\n  const histories = Array.isArray(issue.changelog?.histories) ? [...issue.changelog.histories] : [];\n  histories.sort((a, b) => new Date(a.created).getTime() - new Date(b.created).getTime());\n\n  const transitions = [];\n\n  const firstStatusHistory = histories.find((history) => Array.isArray(history.items) && history.items.some((change) => change.field === 'status'));\n  if (firstStatusHistory) {\n    const firstStatusChange = firstStatusHistory.items.find((change) => change.field === 'status');\n    if (firstStatusChange?.fromString) {\n      transitions.push({\n        to: firstStatusChange.fromString,\n        date: fields.created,\n      });\n    }\n  }\n\n  for (const history of histories) {\n    for (const change of history.items ?? []) {\n      if (change.field !== 'status' || !change.toString || !history.created) continue;\n      transitions.push({\n        to: change.toString,\n        date: history.created,\n        from: change.fromString ?? undefined,\n      });\n    }\n  }\n\n  issues.push({\n    key: issue.key,\n    summary: fields.summary ?? '',\n    type: fields.issuetype?.name ?? 'Unknown',\n    created: fields.created ?? '',\n    currentStatus: fields.status?.name ?? '',\n    transitions,\n  });\n}\n\nconst fetchedAt = new Date().toISOString();\nconst expiresAt = Date.now() + Number(cacheInput.ttlMs ?? 600000);\nstaticData[cacheInput.cacheKey] = { issues, fetchedAt, expiresAt };\n\nreturn [{\n  json: {\n    issues,\n    meta: {\n      total: issues.length,\n      fetchedAt,\n      cached: false,\n      cacheKey: cacheInput.cacheKey,\n      expiresAt,\n    },\n  },\n}];"
      }
    },
    {
      "id": "bb000106-0000-4000-8000-000000000106",
      "name": "Respond: Metrics",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1720,
        -620
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "bb000107-0000-4000-8000-000000000107",
      "name": "Code: Issues List Cache Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        60
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst key = 'issues:list:default';\nconst ttlMs = 5 * 60 * 1000;\nconst now = Date.now();\nconst cached = staticData[key];\nif (cached && Array.isArray(cached.issues) && Number(cached.expiresAt) > now) {\n  return [{ json: { cacheHit: true, issues: cached.issues, meta: { fetchedAt: cached.fetchedAt, cached: true, source: 'static-cache' } } }];\n}\nreturn [{ json: { cacheHit: false, cacheKey: key, ttlMs } }];"
      }
    },
    {
      "id": "bb000108-0000-4000-8000-000000000108",
      "name": "If: Issues List Cache Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        920,
        60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-issues-cache-hit",
              "leftValue": "={{ $json.cacheHit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bb000109-0000-4000-8000-000000000109",
      "name": "Code: Cache Issues List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -100
      ],
      "parameters": {
        "jsCode": "const cacheInput = $('Code: Issues List Cache Lookup').first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst issues = $input.all().map(({ json }) => json);\nconst fetchedAt = new Date().toISOString();\nconst expiresAt = Date.now() + Number(cacheInput.ttlMs ?? 300000);\nstaticData[cacheInput.cacheKey] = { issues, fetchedAt, expiresAt };\nreturn [{ json: { issues, meta: { fetchedAt, cached: false, source: 'jira+datatable' } } }];"
      }
    },
    {
      "id": "bb000110-0000-4000-8000-000000000110",
      "name": "Respond: Cached List Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1780,
        -20
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch: Route GET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Map Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Map Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Route GET": {
      "main": [
        [
          {
            "node": "Jira: Get Single Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Prepare Metrics Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Issues List Cache Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Get Single Issue": {
      "main": [
        [
          {
            "node": "Code: Format Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Detail": {
      "main": [
        [
          {
            "node": "Respond: Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build List JQL": {
      "main": [
        [
          {
            "node": "Jira: Get List Issues by JQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataTable: RICE Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Get List Issues by JQL": {
      "main": [
        [
          {
            "node": "Merge: List + Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataTable: RICE Scores": {
      "main": [
        [
          {
            "node": "Merge: List + Scores",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: List + Scores": {
      "main": [
        [
          {
            "node": "Code: Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format List Response": {
      "main": [
        [
          {
            "node": "Code: Cache Issues List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Map Create": {
      "main": [
        [
          {
            "node": "HTTP: Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Issue": {
      "main": [
        [
          {
            "node": "Respond: Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Map Update": {
      "main": [
        [
          {
            "node": "HTTP: Update Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Issue": {
      "main": [
        [
          {
            "node": "Respond: Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Kanban Metrics": {
      "main": [
        [
          {
            "node": "Code: Prepare Metrics Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Metrics Request": {
      "main": [
        [
          {
            "node": "Code: Metrics Cache Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Metrics Cache Lookup": {
      "main": [
        [
          {
            "node": "If: Metrics Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Metrics Cache Hit": {
      "main": [
        [
          {
            "node": "Respond: Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira: Fetch Metrics Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Fetch Metrics Issues": {
      "main": [
        [
          {
            "node": "Code: Build Metrics Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Metrics Response": {
      "main": [
        [
          {
            "node": "Respond: Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Issues List Cache Lookup": {
      "main": [
        [
          {
            "node": "If: Issues List Cache Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Issues List Cache Hit": {
      "main": [
        [
          {
            "node": "Respond: Cached List Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Build List JQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Cache Issues List Response": {
      "main": [
        [
          {
            "node": "Respond: Cached List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166a83f3b5979b833d91a82f993d0ab73b3eaf47ab8ca6dca2eb8a3d37458905"
  },
  "tags": []
}
