info/RICE Workflow.json
{
  "name": "RICE Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "rice-scoring",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5be7aebf-64bc-4baf-808a-a90119edc622",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        16
      ],
      "webhookId": "80c2aab0-0e9b-4db0-b6a0-ad54fbeb54c1"
    },
    {
      "parameters": {
        "jiraVersion": "serverPat",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fields": "labels, description,status,priority,issuelinks,issuetype,summary",
          "jql": "project = CREDITS AND issuetype in (\"User Story\", Задача, Ошибка, Техдолг, \"BUSINESS SUB-TASK\", Подзадача) AND status in (Бэклог, Анализ, \"Готово к анализу\", \"Готово к разработке\", \"Готово к проработке\") AND labels = Партнерские_Интеграции"
        }
      },
      "id": "46a6c34b-94df-4ca4-b53a-8b45e6e44fec",
      "name": "Get many issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        256,
        16
      ],
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "5SFlqPVwtO2oNk7Z",
          "name": "Jira Server"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.fields.summary }}",
            "key": "={{ $json.key }}",
            "labels": "={{ $json.fields.labels.join(', ') }}",
            "priority": "={{ $json.fields.priority.name }}",
            "status": "={{ $json.fields.status.name }}",
            "issue_type": "={{ $json.fields.issuetype.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issue_type",
              "displayName": "issue_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "labels",
              "displayName": "labels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "impact",
              "displayName": "impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "rice_score",
              "displayName": "rice_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "effort",
              "displayName": "effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "778d3e93-f9cb-457a-a7c2-dea5fa30bd78",
      "name": "Upsert row(s)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseKey": "issues"
        }
      },
      "id": "fb5e7911-a41e-4150-b2f2-cb017cba6507",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        16
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rice-score-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "393f1ce8-6c22-4f43-bd08-57518900d4b2",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        240
      ],
      "webhookId": "bb47a116-eede-4050-96a9-394237f6038e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef870712-9005-4ef3-86f2-e347bd4d83a6",
              "name": "updates",
              "value": "={{ $json.body.updates }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "5b16bb0e-e427-4100-9976-b3c6be7f2da3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "updates",
        "options": {}
      },
      "id": "ccc36c55-ed68-47ee-b3bf-37022848e1f0",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "NxRK1sUDXpvbXZIz",
          "mode": "list",
          "cachedResultName": "RICE Scoring",
          "cachedResultUrl": "/projects/eyKpLZzVcNRqbewu/datatables/NxRK1sUDXpvbXZIz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reach": "={{ $json.reach }}",
            "impact": "={{ $json.impact }}",
            "confidence": "={{ $json.confidence }}",
            "rice_score": "={{ $json.rice_score }}",
            "effort": "={{ $json.effort }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "issue_type",
              "displayName": "issue_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "labels",
              "displayName": "labels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "impact",
              "displayName": "impact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rice_score",
              "displayName": "rice_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "effort",
              "displayName": "effort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c7daf61b-0fae-4d37-807f-4509ad3616ee",
      "name": "Update row(s)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "status",
                "value": "Issues Successfully updated!"
              }
            ]
          },
          "responseKey": "updated_issues"
        }
      },
      "id": "df5a08fd-b5de-45e5-9bbf-cc8dbb2741ff",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many issues": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "a30e50c9-39fb-4bb3-b20f-5938fe9ad60b",
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "166a83f3b5979b833d91a82f993d0ab73b3eaf47ab8ca6dca2eb8a3d37458905"
  },
  "id": "TULUmSRn2ySEGkP1k9Kmg",
  "tags": []
}